#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_ENGLISH, 1
{

 //  { error messages }
 deFileNotFound              , "Archivo '%s' no encontrado"
 deNoFormSelected            , "No selecciono formularios"
 deCantSaveFile              , "No se pudo guardar archivo '%s'"
 deFileChanged               , "Grabar cambios a %s ?"

 deJvInterpreterNotFound              , "No se pudo cargar paquete %s. Requirio correr formulario"
 deJvInterpreterFuncNotFound          , "Funcion no encontrada en paquete %s. Quizas version incorrecta de paquete"
 deLoadExpertFail            , "Error cargando paquete %s: \n%s"
 deErrorCreatingForm         , "Error creando formulario\n%s"
 deCantChangeIniStrings      , "No se puede cambiar cadenas de ini mientras AppBuilder se esta ejecutando"

 // { source manipulation error }
 deCantRenameForm            , "Fallo al renombrar formulario"
 deCantRenameUnit            , "Fallo al renombrar formulario"
 deCantRenameMethod          , "Fallo al renombrar metodo %s"
 deFormDeclNotFound          , "Declaracion de formulario no encontrada"
 deClauseIncorrect           , "Error en archivo %s: %s incorrecto o falta"

 deOk                        , "OK"
 deCancel                    , "Cancelar"
 deHelp                      , "Ayuda"
 deClose                     , "Cerrar"
 deIgnore                    , "&Ignorar"
 deIgnoreAll                 , "Ignorar &Todo"

 // { Form Designer }
 deBringToFront              , "Traer al frente"
 deSendToBack                , "Enviar atras"

 // { App Builder - main form }
 deFileMenu                  , "&Archivo"
 deFileNewItem               , "&Nuevo..."
 deFileNewFormItem           , "Nuevo &Formulario"
 deFileOpenItem              , "A&brir..."
 deFileSaveItem              , "&Guardar"
 deFileSaveAsItem            , "Guardar c&omo..."
 deFileSaveAllItem           , "Guardar &todo"
 deFileCloseItem             , "&Cerrar"
 deFileCloseAllItem          , "C&errar todo"
 deFileExitItem              , "&Salir"
 deEditMenu                  , "&Editar"
 deEditCopyItem              , "&Copiar"
 deEditPasteItem             , "&Pegar"
 deEditDeleteItem            , "&Borrar"
 deSearchMenu                , "B&uscar"
 deViewsMenu                 , "&Ver"
 deViewPrjMngrItem           , "&Manejador de proyectos"
 deViewObjInspItem           , "&Inspector de objetos"
 deViewAlignItem             , "Paleta de &alineacion"
 deViewPaletteItem           , "Paleta de &componentes"
 deViewWindowListItem        , "L&ista de ventanas..."
 deViewToggleFormUnitItem    , "Cambiar e&ntre Unidad/Formulario"
 deViewUnitItem              , "&Unidades..."
 deViewFormItem              , "&Formularios..."
 deProjectMenu               , "&Proyecto"
 dePrjViewSourceItem         , "&Ver codigo"
 deRunMenu                   , "&Ejecutar"
 deRunProjectItem            , "&Projecto"
 deRunUnitItem               , "&Unidad"
 deRunFormItem               , "&Formulario"
 deRunReportPreviewItem      , "Previsualizar &reporte"
 deRunProjectItemHint        , "Ejecutar proyecto"
 deRunUnitItemHint           , "Ejecutar unidad"
 deRunFormItemHint           , "Ejecutar formulario"
 deRunReportPreviewItemHint  , "Ejecutar previsualizacion de reporte"
 deComponentMenu             , "&Componente"
 deInstallPackagesItem       , "Instalar &Paquetes..."
 deToolsMenu                 , "&Herramientas"
 deToolsOptionsItem          , "&Opciones de entorno..."
 deToolsEditorOptionsItem    , "Opciones del &Editor..."
 deHelpMenu                  , "A&yuda"

 // { Alignment Palette }
 deAlign                     , "Alineacion"
 deAlign + 1                 , "Alinear bordes izquierdos"
 deAlign + 2                 , "Alinear bordes derechos"
 deAlign + 3                 , "Alinear topes"
 deAlign + 4                 , "Alinear inferiores"
 deAlign + 5                 , "Alinear centros horizontales"
 deAlign + 6                 , "Centrar horizontalmente in ventana"
 deAlign + 7                 , "Espaciar igualmente, horizontalmente"
 deAlign + 8                 , "Alinear centros verticales"
 deAlign + 9                 , "Centrar verticalmente in ventana"
 deAlign + 10                , "Espaciar igualmente, verticalmente"

 // { ObjectInspector }
 deObjectInspector           , "Inspector de objetos"
 deProperties                , "Propiedades"
 deEvents                    , "Eventos"

 // { String List Editor }
 deStringsEditor             , "Editor de lista de strings"
 deCodeEditor                , "Editor de codigo..."

 // { New Items }
 deNewItems                  , "Nuevos items"
 deNew                       , "Nuevo"

 // { Project Manager }
 deProjectManager            , "Manejador de proyectos"
 dePrjMngrUnit               , "Unidad"
 dePrjMngrForm               , "Formulario"
 dePrjMngrPath               , "Camino"
 dePrjMngrUpdateItem         , "Actualizar"

 // { View Dialog }
 deViewDlgUnit               , "Ver unidad"
 deViewDlgForm               , "Ver formulario"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Paquetes instalados"
 dePakListDlgAddTitle        , "Agregar paquete de diseño"
 dePakListDlgAddFilter       , "Libreria de paquete  (*.ext)|*.ext|Todos los archivos (*.*)|*.*"
 dePakListDlgPackages        , "&Paquetes de diseño"
 dePakListDlgAdd             , "&Agregar..."
 dePakListDlgRemove          , "&Borrar"
 dePakListDlgComponents      , "&Componentes"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Error leyendo formulario"
 deReadErrorDlgMessage       , "%s.  Ignorar el error y continuar?  NOTA: Ignorar el error puede causar el borrado de componentes o perdida de valores de propiedades."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Componentes"
 dePakComponentsDlgInstalled , "&Componentes &instalados"

}

