/* JVCL components */
TJVMTMANAGER                 BITMAP "TJvMtManager.BMP"
TJVMTTHREAD                  BITMAP "TJvMtThread.BMP"
TJVMTTHREADTOVCL             BITMAP "TJvMtThreadToVCL.BMP"
TJVMTVCLTOTHREAD             BITMAP "TJvMtVCLToThread.BMP"
TJVMTTHREADTOTHREAD          BITMAP "TJvMtThreadToThread.BMP"
TJVMTSECTION                 BITMAP "TJvMtSection.BMP"
TJVMTCOUNTINGSECTION         BITMAP "TJvMtCountingSection.BMP"
TJVMTMONITORSECTION          BITMAP "TJvMtMonitorSection.BMP"

