#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_SPANISH, 1
{

 //  { error messages }
 deFileNotFound              , "Archivo '%s' no encontrado"
 deNoFormSelected            , "No hay formularios seleccionados"
 deCantSaveFile              , "No se puede salvar archivo '%s'"
 deFileChanged               , "Salvar cambios a %s ?"

 deJvInterpreterNotFound              , "No se puede cargar package %s. Se requiere ejecutar el formulario"
 deJvInterpreterFuncNotFound          , "Funcion no encontrada en package %s. Tal vez es una versión equivocada del package"
 deLoadExpertFail            , "Error cargando el expert %s: \n%s"
 deErrorCreatingForm         , "Error creando formulario\n%s"
 deCantChangeIniStrings      , "No se pueden cambiar strings ini mientras se está ejecutando AppBuilder"

 // { source manipulation error }
 deCantRenameForm            , "Renombrar formulario falló"
 deCantRenameUnit            , "Renombrar unidad falló"
 deCantRenameMethod          , "Renombrar método %s falló"
 deFormDeclNotFound          , "No se encontró declaración de Formulario"
 deClauseIncorrect           , "Error en archivo %s: cláusula %s no encontrada o incorrecta"

 deOk                        , "Aceptar"
 deCancel                    , "Cancelar"
 deHelp                      , "Ayuda"
 deClose                     , "Cerrar"
 deIgnore                    , "&Ignorar"
 deIgnoreAll                 , "Ignorar &Todo"

 // { Form Designer }
 deBringToFront              , "Traer al frente"
 deSendToBack                , "Enviar atrás"

 // { App Builder - main form }
 deFileMenu                  , "&Archivo"
 deFileNewItem               , "&Nuevo..."
 deFileNewFormItem           , "Nuevo &Formulario"
 deFileOpenItem              , "&Abrir..."
 deFileSaveItem              , "&Salvar"
 deFileSaveAsItem            , "Salvar &Como..."
 deFileSaveAllItem           , "Salvar &Todo"
 deFileCloseItem             , "&Cerrar"
 deFileCloseAllItem          , "C&errar Todo"
 deFileExitItem              , "&Salir"
 deEditMenu                  , "&Editar"
 deEditCopyItem              , "&Copiar"
 deEditPasteItem             , "&Pegar"
 deEditDeleteItem            , "&Borrar"
 deSearchMenu                , "B&uscar"
 deViewsMenu                 , "&Ver"
 deViewPrjMngrItem           , "&Administrador del Proyecto"
 deViewObjInspItem           , "&Inspector de Objetos"
 deViewAlignItem             , "&Paleta de Alineación"
 deViewPaletteItem           , "Paleta de Compone&ntes"
 deViewWindowListItem        , "Lista de V&entanas..."
 deViewToggleFormUnitItem    , "Ca&mbiar Formulario/Unidad"
 deViewUnitItem              , "&Unidades..."
 deViewFormItem              , "&Formularios..."
 deProjectMenu               , "&Proyecto"
 dePrjViewSourceItem         , "&Ver Fuente"
 deRunMenu                   , "&Ejecutar"
 deRunProjectItem            , "&Proyecto"
 deRunUnitItem               , "&Unidad"
 deRunFormItem               , "&Formulario"
 deRunReportPreviewItem      , "&Vista previa del Reporte"
 deRunProjectItemHint        , "Ejecutar Proyecto"
 deRunUnitItemHint           , "Ejecutar Unidad"
 deRunFormItemHint           , "Ejecutar Formulario"
 deRunReportPreviewItemHint  , "Ejecutar Vista previa del Reporte"
 deComponentMenu             , "&Componente"
 deInstallPackagesItem       , "Instalar &Paquetes..."
 deToolsMenu                 , "&Herramientas"
 deToolsOptionsItem          , "&Opciones de ambiente..."
 deToolsEditorOptionsItem    , "Opciones del &Editor..."
 deHelpMenu                  , "A&yuda"

 // { Alignment Palette }
 deAlign                     , "Alinear"
 deAlign + 1                 , "Alinear bordes izquierdos"
 deAlign + 2                 , "Alinear bordes derechos"
 deAlign + 3                 , "Alinear bordes superiores"
 deAlign + 4                 , "Alinear bordes inferiores"
 deAlign + 5                 , "Alinear centros horizontales"
 deAlign + 6                 , "Centrar horizontalmente en ventana"
 deAlign + 7                 , "Espaciar igualitariamente, horizontalmente"
 deAlign + 8                 , "Alinear centros verticales"
 deAlign + 9                 , "Centrar verticalmente en ventana"
 deAlign + 10                , "Espaciar igualitariamente, verticalmente"

 // { ObjectInspector }
 deObjectInspector           , "Inspector de objetos"
 deProperties                , "Propiedades"
 deEvents                    , "Eventos"

 // { String List Editor }
 deStringsEditor             , "Editor de cadenas"
 deCodeEditor                , "Editor de código..."

 // { New Items }
 deNewItems                  , "Nuevos items"
 deNew                       , "Nuevo"

 // { Project Manager }
 deProjectManager            , "Administrador de Proyecto"
 dePrjMngrUnit               , "Unidad"
 dePrjMngrForm               , "Formulario"
 dePrjMngrPath               , "Ruta"
 dePrjMngrUpdateItem         , "Actualizar"

 // { View Dialog }
 deViewDlgUnit               , "Ver Unidad"
 deViewDlgForm               , "Ver Formulario"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Paquetes Instalados"
 dePakListDlgAddTitle        , "Agregar Paquete de Diseño"
 dePakListDlgAddFilter       , "Biblioteca de paquetes  (*.ext)|*.ext|Todos los archivos (*.*)|*.*"
 dePakListDlgPackages        , "&Paquetes de diseño"
 dePakListDlgAdd             , "&Agregar..."
 dePakListDlgRemove          , "&Remover"
 dePakListDlgComponents      , "&Componentes"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Error leyendo Formulario"
 deReadErrorDlgMessage       , "%s.  Ignorar el error y continuar?  NOTA: Ignorar el error puede causar que componentes sean eliminados o que se pierdan valores de propiedades."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Componentes"
 dePakComponentsDlgInstalled , "Componentes &Instalados"

}

