#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_SLOVAK, 1
{

 //  { error messages }
 deFileNotFound              , "S˙bor '%s' nebol n·jden˝"
 deNoFormSelected            , "Nie je vybran˝ ûiadny formul·r"
 deCantSaveFile              , "Nie je moûnÈ uloûiù s˙bor '%s'"
 deFileChanged               , "Uloûiù zmeny do %s?"

 deJvInterpreterNotFound              , "Nie je moûnÈ naËÌtaù balÌËek %s. Je potrebn˝ na spustenie formul·ru"
 deJvInterpreterFuncNotFound          , "Funkcia nebola v balÌËku %s n·jden·. Verzia balÌËku mÙûe byù nespr·vna"
 deLoadExpertFail            , "Chyba pri naËÌtanÌ experta %s: \n%s"
 deErrorCreatingForm         , "Chyba pri vytv·ranÌ formul·ru\n%s"
 deCantChangeIniStrings      , "Nie je moûnÈ zmeniù inicializaËnÈ reùazce pokiaæ je spusten˝ AppBuilder"

 // { source manipulation error }
 deCantRenameForm            , "Nie je moûnÈ premenovaù formul·r"
 deCantRenameUnit            , "Nie je moûnÈ premenovaù jednotku"
 deCantRenameMethod          , "Nie je moûnÈ premenovaù metÛdu %s"
 deFormDeclNotFound          , "Nebola n·jden· deklar·cia formul·ru"
 deClauseIncorrect           , "Chyba v s˙bore %s: %s Ëasù ch˝ba alebo je nespr·vna"

 deOk                        , "OK"
 deCancel                    , "Zruöiù"
 deHelp                      , "PomocnÌk"
 deClose                     , "Zavrieù"
 deIgnore                    , "&Ignorovaù"
 deIgnoreAll                 , "Ignorov&aù vöetko"

 // { Form Designer }
 deBringToFront              , "Presun˙ù dopredu"
 deSendToBack                , "Presun˙ù dozadu"

 // { App Builder - main form }
 deFileMenu                  , "&S˙bor"
 deFileNewItem               , "&Nov˝..."
 deFileNewFormItem           , "Nov˝ &formul·r"
 deFileOpenItem              , "&Otvoriù..."
 deFileSaveItem              , "&Uloûiù"
 deFileSaveAsItem            , "Uloûiù &ako..."
 deFileSaveAllItem           , "Uloûiù &vöetko"
 deFileCloseItem             , "&Zavrieù"
 deFileCloseAllItem          , "Zav&rieù vöetko"
 deFileExitItem              , "&Koniec"
 deEditMenu                  , "⁄pJVCLvy"
 deEditCopyItem              , "&KopÌrovaù"
 deEditPasteItem             , "&Prilepiù"
 deEditDeleteItem            , "&Odstr·niù"
 deSearchMenu                , "&Hæadaù"
 deViewsMenu                 , "&Zobraziù"
 deViewPrjMngrItem           , "Spr·vca &projektu"
 deViewObjInspItem           , "Vlastnosti &objektu"
 deViewAlignItem             , "P&aletu pre zarovn·vanie"
 deViewPaletteItem           , "Paletu s kompone&ntami"
 deViewWindowListItem        , "Zoznam o&kien..."
 deViewToggleFormUnitItem    , "Pr&epn˙ù formul·r/jednotku"
 deViewUnitItem              , "&Jednotky..."
 deViewFormItem              , "&Formul·re..."
 deProjectMenu               , "&Projekt"
 dePrjViewSourceItem         , "&Zobraziù zdrojov˝ kÛd"
 deRunMenu                   , "&Spustiù"
 deRunProjectItem            , "&Projekt"
 deRunUnitItem               , "&Jednotku"
 deRunFormItem               , "&Formul·r"
 deRunReportPreviewItem      , "&N·hæad zostavy"
 deRunProjectItemHint        , "Spustiù projekt"
 deRunUnitItemHint           , "Spustiù jednotku"
 deRunFormItemHint           , "Spustiù formul·r"
 deRunReportPreviewItemHint  , "Zobraziù n·hæad zostavy"
 deComponentMenu             , "&Komponent"
 deInstallPackagesItem       , "Inötalovaù &balÌËky..."
 deToolsMenu                 , "&N·stroje"
 deToolsOptionsItem          , "Nastavenia pr&ostredia..."
 deToolsEditorOptionsItem    , "Nastavenia &editoru..."
 deHelpMenu                  , "&PomocnÌk"

 // { Alignment Palette }
 deAlign                     , "Zarovnaù"
 deAlign + 1                 , "Zarovnaù doæava"
 deAlign + 2                 , "Zarovnaù doprava"
 deAlign + 3                 , "Zarovnaù hore"
 deAlign + 4                 , "Zarovnaù dole"
 deAlign + 5                 , "Horizont·lne vycentrovaù"
 deAlign + 6                 , "Horizont·lne vycentrovaù v okne"
 deAlign + 7                 , "Horizont·lne rozmiestniù"
 deAlign + 8                 , "Vertik·lne vycentrovaù"
 deAlign + 9                 , "Vertik·lne vycentrovaù v okne"
 deAlign + 10                , "Rozmiestniù vertik·lne"

 // { ObjectInspector }
 deObjectInspector           , "Vlastnosti objektu"
 deProperties                , "Vlastnosti"
 deEvents                    , "Udalosti"

 // { String List Editor }
 deStringsEditor             , "Editor zoznamu reùazcov"
 deCodeEditor                , "Editor kÛdu..."

 // { New Items }
 deNewItems                  , "NovÈ poloûky"
 deNew                       , "Nov·"

 // { Project Manager }
 deProjectManager            , "Spr·vca projektu"
 dePrjMngrUnit               , "Jednotka"
 dePrjMngrForm               , "Formul·r"
 dePrjMngrPath               , "Cesta"
 dePrjMngrUpdateItem         , "Aktualizovaù"

 // { View Dialog }
 deViewDlgUnit               , "Zobraziù jednotku"
 deViewDlgForm               , "Zobraziù formul·r"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "InötalovanÈ balÌËky"
 dePakListDlgAddTitle        , "Pridaù balÌËek pre n·vrh"
 dePakListDlgAddFilter       , "Kniûnice balÌËkov (*.ext)|*.ext|Vöetky s˙bory (*.*)|*.*"
 dePakListDlgPackages        , "BalÌËky &pre n·vrh"
 dePakListDlgAdd             , "Prid&aù..."
 dePakListDlgRemove          , "Odst&r·niù"
 dePakListDlgComponents      , "&Komponenty"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Chyba pri naËÌtavanÌ formul·ru"
 deReadErrorDlgMessage       , "%s. Ignorovaù chybu a pokraËovaù? Pozn.: Ignorovanie chyby mÙûe spÙsobiù zmazanie komponentov alebo ich vlastnostÌ."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Komponenty"
 dePakComponentsDlgInstalled , "&InötalovanÈ komponenty"

}

