#define ResBase $5400
#define StrBase $5600
#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_FRENCH, 1
{
 //  { error messages }
 ResBase +   1, "Fichier '%s' non trouvé"
 ResBase +   2, "Pas de fiche sélectionnée"
 ResBase +   3, "Impossible de sauvegarder le fichier '%s'"
 ResBase +   4, "Enregistrer les modifications dans %s ?"

 ResBase +   7, "Impossible de charger le paquet %s. Vous devez executer la fiche"
 ResBase +   8, "Fonction non trouvé dans le paquet %s. Le numéro de version du paquet est peut-être incorrect"
 ResBase +   9, "Erreur de chargement de l'expert %s: \n%s"
 ResBase +   10, "Erreur de création de la fiche\n%s"
 ResBase +   11, "Impossible de modifier les chaînes ini pendant l'execution de l'AppBuilder"

 // { source manipulation error }
 ResBase +   12, "Renommer la fiche a échoué"
 ResBase +   13, "Renommer l'unité a échoué"
 ResBase +   14, "Renommer la méthode %s a échoué"
 ResBase +   15, "Déclaration de la fiche introuvable"
 ResBase +   16, "Erreur dans le fichier %s: la clause %s est manquante ou incorrecte"

 StrBase +   1, "OK"
 StrBase +   2, "Annuler"
 deHelp                      , "Aide"
 deClose                     , "Fermer"
 deIgnore                    , "&Ignorer"
 deIgnoreAll                 , "Ignorer tout"

 // { Form Designer }
 StrBase +   50, "Amener devant"
 StrBase +   51, "Envoyer derrière"

 // { App Builder - main form }
 StrBase +   100, "&Fichier"
 StrBase +   103, "&Nouveau"  
 StrBase +   104, "Nouvelle &Fiche"
 StrBase +   105, "&Ouvrir"
 StrBase +   106, "&Enregistrer"
 StrBase +   107, "Enregistrer &sous..."
 StrBase +   108, "&Tout enregistrer"
 StrBase +   109, "&Fermer"
 StrBase +   110, "To&ut fermer"
 StrBase +   111, "&Quitter"
 StrBase +   101, "&Edition"
 StrBase +   133, "Co&pier"
 StrBase +   134, "C&oller"
 StrBase +   112, "Supprimer"
 StrBase +   127, "C&hercher"
 StrBase +   102, "&Voir"
 deViewPrjMngrItem           , "Gestionnaire de projet"
 StrBase +   113, "&Inspecteur d'objets"
 StrBase +   114, "Pal&ette d'alignement"
 StrBase +   115, "Palette de Composan&ts"
 StrBase +   126, "&Liste de fenêtres..."
 StrBase +   119, "Basculer Fiche/Unité"
 StrBase +   122, "Basculer Fiche/Unité"
 deViewUnitItem              , "&Unités..."
 deViewFormItem              , "&Fiches..."
 StrBase +   128, "&Projet"
 StrBase +   130, "&Voir le source"
 StrBase +   116, "Exéc&uter"
 deRunProjectItem            , "&Project"
 StrBase +   117, "Exécuter la &Fiche"
 StrBase +   118, "Exécuter la p&révisualisation de l'état"
// ces string n'exitent pas dans la English resource:
// StrBase +   120, "Ouvrir fichier"
// StrBase +   121, "Tout enregistrer"
// deRunUnitItem               , "Exécuter l'&Unité"
// StrBase +   123, "Exécuter la &Fiche"
// StrBase +   124, "Exécuter la p&révisualisation de l'état"
 deRunProjectItemHint        , "Exécuter le projet"
 deRunUnitItemHint           , "Exécuter l'Unité"
 deRunFormItemHint           , "Exécuter la fiche"
 deRunReportPreviewItemHint  , "Exécuter la prévisualisation de l'état"
 StrBase +   125, "&Composant"
 deInstallPackagesItem       , "In&staller des paquets..."
 StrBase +   129, "&Outils"
 StrBase +   131, "&Options d'environnement..."
 deToolsEditorOptionsItem    , "Options de l'édit&eur..."
 StrBase +   132, "&Aide"

 // { Alignment Palette }
 StrBase +   200, "&Aligner..."
 StrBase +   201, "Aligner les bords gauches"
 StrBase +   202, "Aligner les bords droits"
 StrBase +   203, "Aligner les sommets"
 StrBase +   204, "Aligner les bas"
 StrBase +   205, "Aligner horizontalement les centres"
 StrBase +   206, "Centrer horizontalement dans la fenêtre"
 StrBase +   207, "Espacer régulièrement, horizontalement"
 StrBase +   208, "Aligner verticalement les centres"
 StrBase +   209, "Centrer verticalement dans la fenêtre"
 StrBase +   210, "Espacer régulièrement, verticalement"

 // { ObjectInspector }
 StrBase +   220, "Inspecteur d'objets"
 StrBase +   221, "Propriétés"
 StrBase +   222, "Evénement"

 // { String List Editor }
 StrBase +   230, "Editeur de liste de chaînes"
 StrBase +   231, "Editeur de code..."

 // { New Items }
 StrBase +   240, "Nouvel objet"
 StrBase +   241, "Nouveau..."

 // { Project Manager }
 deProjectManager            , "Gestionnaire de projet"
 dePrjMngrUnit               , "Unité"
 dePrjMngrForm               , "Fiche"
 dePrjMngrPath               , "Répertoire"
 dePrjMngrUpdateItem         , "Activer"

 // { View Dialog }
 deViewDlgUnit               , "Voir une unité"
 deViewDlgForm               , "Voir une fiche"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Paquets"
 dePakListDlgAddTitle        , "Paquets de conception"
 dePakListDlgAddFilter       , "Package library  (*.ext)|*.ext|Any file (*.*)|*.*"
 dePakListDlgPackages        , "Paquets d'exécution"
 dePakListDlgAdd             , "Aj&outer"
 dePakListDlgRemove          , "&Retirer"
 dePakListDlgComponents      , "&Composants"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Erreur lors de la lecture de la fiche"
 deReadErrorDlgMessage       , "%s. Ignorer l'erreur et continuer?  Nota: Ignorer l'erreur peut causer la suppression du composant ou la perte de valeurs de propriétés."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Composants"
 dePakComponentsDlgInstalled , "Composants installés"

}

