#define ResBase $5400
#define StrBase $5600
STRINGTABLE
LANGUAGE LANG_GERMAN, 1
{
 ResBase +   1, "Datei '%s' nicht gefunden"
 ResBase +   2, "Keine Formulare ausgewählt"
 ResBase +   3, "Datei '%s' kann nicht gespeichert werden"
 ResBase +   4, "Änderungen in %s speichern?"

 ResBase +   7, "Package %s kann nicht geladen werden. Es wird benötigt, um das Formular auszuführen"  
 ResBase +   8, "Funktion nicht gefunden in Package %s. Möglicherweise falsche Package-Version" 
 ResBase +   9, "Fehler beim Laden des Experten %s: \n%s"
 ResBase +   10, "Fehler beim Erzeugen des Formulars\n%s" 
 ResBase +   11, "INI-Einträge können nicht geändert werden während AppBuilder ausgeführt wird"
 ResBase +   12, "Umbenennen des Formulars misslungen"
 ResBase +   13, "Umbenennen der Unit misslungen" 
 ResBase +   14, "Umbenennen der Methode %s misslungen" 
 ResBase +   15, "Deklaration des Formulars nicht gefunden"
 ResBase +   16, "Fehler in Datei %s: Klausel %s fehlt oder ist fehlerhaft"

 StrBase +   1, "OK"
 StrBase +   2, "Abbrechen"

 StrBase +   50, "Nach vorne setzen"
 StrBase +   51, "Nach hinten setzen"

 StrBase +   100, "&Datei"
 StrBase +   101, "&Bearbeiten"
 StrBase +   102, "&Ansicht"
 StrBase +   103, "&Neu"
 StrBase +   104, "Neues F&ormular"
 StrBase +   105, "Ö&ffnen"
 StrBase +   106, "&Speichern"
 StrBase +   107, "Speichern &unter"
 StrBase +   108, "&Alles speichern"
 StrBase +   109, "S&chliessen"
 StrBase +   110, "Alle sc&hliessen"
 StrBase +   111, "&Beenden"
 StrBase +   112, "&Löschen"
 StrBase +   113, "&Objektinspektor"
 StrBase +   114, "&Ausrichtungspalette"
 StrBase +   115, "&Komponentenliste"
 StrBase +   116, "Ausfüh&ren"
 StrBase +   117, "&Formular ausführen"
 StrBase +   118, "&Reportvorschau ausführen"
 StrBase +   119, "&Umschalten Formular/Unit"
 StrBase +   120, "Datei öffnen"
 StrBase +   121, "Alles speichern"
 StrBase +   122, "Umschalten Formular/Unit"
 StrBase +   123, "Formular ausführen"
 StrBase +   124, "Reportvorschau ausführen"
 StrBase +   125, "&Komponente"
 StrBase +   126, "&Fensterliste..."
 StrBase +   127, "&Suchen"
 StrBase +   128, "&Projekt"
 StrBase +   129, "&Tools"
 StrBase +   130, "Projekt&quelltext"
 StrBase +   131, "&Umgebungsoptionen..."
 StrBase +   132, "&Hilfe"
 StrBase +   133, "&Kopieren"
 StrBase +   134, "&Einfügen"

 StrBase +   200, "Ausrichten"
 StrBase +   201, "Linksbündig"
 StrBase +   202, "Rechtsbündig"
 StrBase +   203, "Nach oben"
 StrBase +   204, "Nach unten"
 StrBase +   205, "Horizontal zentriert"
 StrBase +   206, "Horizontal zentriert im Fenster"
 StrBase +   207, "Gleicher Abstand, horizontal"
 StrBase +   208, "Vertikal zentriert"
 StrBase +   209, "Vertikal zentriert im Fenster"
 StrBase +   210, "Gleicher Abstand, vertikal"

 StrBase +   220, "Objektinspektor"
 StrBase +   221, "Eigenschaften"
 StrBase +   222, "Ereignisse"

 StrBase +   230, "String-Listen-Editor"
 StrBase +   231, "Code Editor..."

 StrBase +   240, "Neue Einträge"
 StrBase +   241, "Neu"

}

