#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_RUSSIAN, 1
{

 //  { error messages }
 deFileNotFound              , "Файл %s не найден"
 deNoFormSelected            , "Нет активной формы"
 deCantSaveFile              , "Сбой при записи файла %s"
 deFileChanged               , "Сохранить измененный %s ?"

 deJvInterpreterNotFound              , "Не удается загрузить файл %s. Он необходим для запуска формы"
 deJvInterpreterFuncNotFound          , "Не найдена функция в файле %s. Вероятно неверная версия файла"
 deLoadExpertFail            , "Ошибка при загрузке эксперта %s: \n%s"
 deErrorCreatingForm         , "Ошибка при создании формы\n%s"
 deCantChangeIniStrings      , "Нельзя изменять ini-параметры при запущенном AppBuilder"

 // { source manipulation error }
 deCantRenameForm            , "Сбой при переименовании формы"
 deCantRenameUnit            , "Сбой при переименовании модуля"
 deCantRenameMethod          , "Сбой при переименовании метода '%s'"
 deFormDeclNotFound          , "Не найдено объявление формы"
 deClauseIncorrect           , "Ошибка в файле %s: конструкция '%s' пропущена или некорректна"

 deOk                        , "OK"
 deCancel                    , "Отмена"
 deHelp                      , "Справка"
 deClose                     , "Закрыть"
 deIgnore                    , "&Игнорировать"
 deIgnoreAll                 , "Игнорировать &Все"

 // { Form Designer }
 deBringToFront              , "Вытащить &наверх"
 deSendToBack                , "Опустить &вниз"

 // { App Builder - main form }
 deFileMenu                  , "&Файл"
 deFileNewItem               , "&Новый..."
 deFileNewFormItem           , "Новая &форма"
 deFileOpenItem              , "&Открыть..."
 deFileSaveItem              , "&Сохранить"
 deFileSaveAsItem            , "Сохранить &Как..."
 deFileSaveAllItem           , "Сохранить &Все"
 deFileCloseItem             , "&Закрыть"
 deFileCloseAllItem          , "З&акрыть Все"
 deFileExitItem              , "&Выход"
 deEditMenu                  , "&Правка"
 deEditCopyItem              , "&Копировать"
 deEditPasteItem             , "&Вставить"
 deEditDeleteItem            , "&Удалить"
 deSearchMenu                , "По&иск"
 deViewsMenu                 , "&Вид"
 deViewPrjMngrItem           , "Менеджер &Проекта"
 deViewObjInspItem           , "Инспектор &Объектов"
 deViewAlignItem             , "Палитра &Выравнивания"
 deViewPaletteItem           , "Палитра &Компонентов"
 deViewWindowListItem        , "Список &окон..."
 deViewToggleFormUnitItem    , "Пере&ключить Форма/Модуль"
 deViewUnitItem              , "&Модули..."
 deViewFormItem              , "&Формы..."
 deProjectMenu               , "&Проект"
 dePrjViewSourceItem         , "Показать &Исходник"
 deRunMenu                   , "&Выполнить"
 deRunProjectItem            , "&Проект"
 deRunUnitItem               , "&Модуль"
 deRunFormItem               , "&Форма"
 deRunReportPreviewItem      , "Просмотр &Отчета"
 deRunProjectItemHint        , "Выполнить Проект"
 deRunUnitItemHint           , "Выполнить Модуль"
 deRunFormItemHint           , "Выполнить Форму"
 deRunReportPreviewItemHint  , "Выполнить Просмотр Отчета"
 deComponentMenu             , "&Компоненты"
 deInstallPackagesItem       , "Установка &Пакетов..."
 deToolsMenu                 , "&Сервис"
 deToolsOptionsItem          , "&Параметры окружения..."
 deToolsEditorOptionsItem    , "Параметры &Редактора..."
 deHelpMenu                  , "Спр&авка"

 // { Alignment Palette }
 deAlign                     , "Выравнивание"
 deAlign + 1                 , "По левому краю"
 deAlign + 2                 , "По правому краю"
 deAlign + 3                 , "По верхнему краю"
 deAlign + 4                 , "По нижнему краю"
 deAlign + 5                 , "По горизонтальному центру"
 deAlign + 6                 , "Центрировать горизонтально в окне"
 deAlign + 7                 , "Равные горизонтальные промежутки"
 deAlign + 8                 , "По вертикальному центру"
 deAlign + 9                 , "Центрировать вертикально в окне"
 deAlign + 10                , "Равные вертикальные промежутки"

 // { ObjectInspector }
 deObjectInspector           , "Инспектор объектов"
 deProperties                , "Свойства"
 deEvents                    , "События"

 // { String List Editor }
 deStringsEditor             , "Редактор списка строк"
 deCodeEditor                , "Редактор..."

 // { New Items }
 deNewItems                  , "Новые итемы"
 deNew                       , "Новый"

 // { Project Manager }
 deProjectManager            , "Менеджер Проекта"
 dePrjMngrUnit               , "Модуль"
 dePrjMngrForm               , "Форма"
 dePrjMngrPath               , "Путь"
 dePrjMngrUpdateItem         , "Обновить"

 // { View Dialog }
 deViewDlgUnit               , "Показать Модуль"
 deViewDlgForm               , "Показать Форму"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Установленные Пакеты"
 dePakListDlgAddTitle        , "Добавление Пакета Конструктора"
 dePakListDlgAddFilter       , "Пакеты (*.ext)|*.ext|Все файлы (*.*)|*.*"
 dePakListDlgPackages        , "&Пакеты Конструктора"
 dePakListDlgAdd             , "&Добавить..."
 dePakListDlgRemove          , "&Удалить"
 dePakListDlgComponents      , "&Компоненты"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Ошибка Чтения Формы"
 deReadErrorDlgMessage       , "%s.  Игнорировать ошибку и продолжить ?  ВНИМАНИЕ: Игнорирование ошибки может повлечь удаление компонентов или потерю значений свойств."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Компоненты"
 dePakComponentsDlgInstalled , "&Установленные компоненты"

}

