TJVCOLORLABEL           BITMAP "TJVCOLORLABEL.BMP"
TJVCOLORPANEL           BITMAP "TJVCOLORPANEL.BMP"
TJVCOLORCIRCLE          BITMAP "TJVCOLORCIRCLE.BMP"
TJVCOLORSPACECOMBO      BITMAP "TJVCOLORSPACECOMBO.BMP"
TJVCOLORAXISCONFIGCOMBO BITMAP "TJVCOLORAXISCONFIGCOMBO.BMP"
TJVFULLCOLORTRACKBAR    BITMAP "TJVFULLCOLORTRACKBAR.BMP"
