TCOLORLABEL      BITMAP "TJVCOLORLABEL.BMP"
TCOLORPANEL      BITMAP "TJVCOLORPANEL.BMP"
TCOLORCIRCLE     BITMAP "TJVCOLORCIRCLE.BMP"
TCOLORSPACECOMBO BITMAP "TJVCOLORSPACECOMBO.BMP"
TAXISCONFIGCOMBO BITMAP "TJVAXISCONFIGCOMBO.BMP"
TCOLORTRACKBAR   BITMAP "TJVCOLORTRACKBAR.BMP"
