TJVFULLCOLORAXISCOMBO   BITMAP "TJVFULLCOLORAXISCOMBO.BMP"
TJVFULLCOLORCIRCLE      BITMAP "TJVFULLCOLORCIRCLE.BMP"
TJVFULLCOLORGROUP       BITMAP "TJVFULLCOLORGROUP.BMP"
TJVFULLCOLORLABEL       BITMAP "TJVFULLCOLORLABEL.BMP"
TJVFULLCOLORPANEL       BITMAP "TJVFULLCOLORPANEL.BMP"
TJVFULLCOLORSPACECOMBO  BITMAP "TJVFULLCOLORSPACECOMBO.BMP"
TJVFULLCOLORTRACKBAR    BITMAP "TJVFULLCOLORTRACKBAR.BMP"
