TJVALARMS BITMAP "TJVALARMS.BMP"
TJVCONVERTER BITMAP "TJVCONVERTER.BMP"
TJVDATAEMBEDDED BITMAP "TJVDATAEMBEDDED.BMP"
TJVCREATEPROCESS BITMAP "TJVCREATEPROCESS.BMP"
TJVENTERASTAB BITMAP "TJVENTERASTAB.BMP"
TJVMERGEMANAGER BITMAP "TJVMERGEMANAGER.BMP"
TJVPAGEMANAGER BITMAP "TJVPAGEMANAGER.BMP"
TJVPATCHFILE BITMAP "TJVPATCHFILE.BMP"
TJVPROFILER BITMAP "TJVPROFILER.BMP"
TJVSTRHOLDER BITMAP "TJVSTRHOLDER.BMP"
TJVMULTISTRINGHOLDER BITMAP "TJVMULTISTRINGHOLDER.BMP"
TJVTIMELIMIT BITMAP "TJVTIMELIMIT.BMP"
TJVWINHELP BITMAP "TJVWINHELP.BMP"
TJVTRANSLATOR BITMAP "TJVTRANSLATOR.BMP"
TJVTRANSLATORSTRINGS BITMAP "TJVTRANSLATORSTRINGS.BMP"
TJVPRINT BITMAP "TJVPRINT.BMP"
TJVEASTEREGG BITMAP "TJVEASTEREGG.BMP"
TJVMOUSEGESTURE BITMAP "TJVMOUSEGESTURE.BMP"
TJVMOUSEGESTUREHOOK BITMAP "TJVMOUSEGESTUREHOOK.BMP"
TJVLOGFILE BITMAP "TJVLOGFILE.BMP"

