LANGUAGE 0, 0
TJVJVCLABOUTCOMPONENT BITMAP "TJVJVCLABOUTCOMPONENT.BMP"
TJVAPPREGISTRYSTORAGE BITMAP "TJVAPPREGISTRYSTORAGE.BMP"
TJVAPPINIFILESTORAGE BITMAP "TJVAPPINIFILESTORAGE.BMP"
TJVAPPSTORAGE BITMAP "TJVAPPSTORAGE.BMP"
TJVAPPSTORAGESELECTLIST BITMAP "TJVAPPSTORAGESELECTLIST.BMP"
TJVCOLORMAPPINGPROVIDER BITMAP "TJVCOLORMAPPINGPROVIDER.BMP"
TJVCOLORPROVIDER BITMAP "TJVCOLORPROVIDER.BMP"
TJVCONTEXTPROVIDER BITMAP "TJVCONTEXTPROVIDER.BMP"
TJVBACKGROUND BITMAP "TJVBACKGROUND.BMP"
TJVLOOKUPAUTOCOMPLETE BITMAP "TJVLOOKUPAUTOCOMPLETE.BMP"
TJVPOWEREDBYJCL BITMAP "TJVPOWEREDBYJCL.BMP"
TJVPOWEREDBYJVCL BITMAP "TJVPOWEREDBYJVCL.BMP"
TJVTRANSLATESTRING BITMAP "TJVTRANSLATESTRING.BMP"
TJVDESIGNSURFACE BITMAP "TJVDESIGNSURFACE.BMP"
TJVDESIGNSCROLLBOX BITMAP "TJVDESIGNSCROLLBOX.BMP"
TJVDESIGNPANEL BITMAP "TJVDESIGNPANEL.BMP"
JVCLSPLASH BITMAP "JVCLSPLASH.BMP"
TJVERRORINDICATOR BITMAP "TJVERRORINDICATOR.BMP"
TJVVALIDATIONSUMMARY BITMAP "TJVVALIDATIONSUMMARY.BMP"
TJVVALIDATORS BITMAP "TJVVALIDATORS.BMP"
