TJVJVCLABOUTCOMPONENT BITMAP "TJVJVCLABOUTCOMPONENT.BMP"
TJVAPPREGISTRYSTORAGE BITMAP "TJVAPPREGISTRYSTORAGE.BMP"
TJVAPPINIFILESTORAGE BITMAP "TJVAPPINIFILESTORAGE.BMP"
TJVAPPSTORAGE BITMAP "TJVAPPSTORAGE.BMP"
TJVAPPSTORAGESELECTLIST BITMAP "TJVAPPSTORAGESELECTLIST.BMP"
