TJVJVCLABOUTCOMPONENT BITMAP "TJVJVCLABOUTCOMPONENT.BMP"
TJVAPPREGISTRYSTORAGE BITMAP "TJVAPPREGISTRYSTORAGE.BMP"
TJVAPPINIFILESTORAGE BITMAP "TJVAPPINIFILESTORAGE.BMP"
TJVAPPSTORAGE BITMAP "TJVAPPSTORAGE.BMP"
TJVAPPSTORAGESELECTLIST BITMAP "TJVAPPSTORAGESELECTLIST.BMP"
TJVCOLORMAPPINGPROVIDER BITMAP "TJVCOLORMAPPINGPROVIDER.BMP"
TJVCOLORPROVIDER BITMAP "TJVCOLORPROVIDER.BMP"
TJVCONTEXTPROVIDER BITMAP "TJVCONTEXTPROVIDER.BMP"
TJVBACKGROUND BITMAP "TJVBACKGROUND.BMP"
TJVLOOKUPAUTOCOMPLETE BITMAP "TJVLOOKUPAUTOCOMPLETE.BMP"
