TJVTRAYICON BITMAP "TJVTRAYICON.BMP"
TJVGAMMAPANEL BITMAP "TJVGAMMAPANEL.BMP"
TJVLINKLABEL BITMAP "TJVLINKLABEL.BMP"
TJVLOOKOUT BITMAP "TJVLOOKOUT.BMP"
;TJVLOOKOUTPAGE BITMAP "TJVLOOKOUTPAGE.BMP"
TJVLOOKOUTBUTTON BITMAP "TJVLOOKOUTBUTTON.BMP"
TJVEXPRESS BITMAP "TJVEXPRESS.BMP"
TJVEXPRESSBUTTON BITMAP "TJVEXPRESSBUTTON.BMP"
TJVOUTLOOKBAR BITMAP "TJVOUTLOOKBAR.BMP"
;TJVRADIOCONTROL BITMAP "TJVRADIOCONTROL.BMP"
TJVSCHEDULEDEVENTS BITMAP "TJVSCHEDULEDEVENTS.BMP"
TJVTHUMBVIEW BITMAP "TJVTHUMBVIEW.BMP"
TJVTHUMBNAIL BITMAP "TJVTHUMBNAIL.BMP"
TJVTHUMBIMAGE BITMAP "TJVTHUMBIMAGE.BMP"
TJVTIMELINE BITMAP "TJVTIMELINE.BMP"
TJVTMTIMELINE BITMAP "TJVTMTIMELINE.BMP"
TJVBALLOONHINT BITMAP "TJVBALLOONHINT.BMP"
TJVPLUGINMANAGER BITMAP "TJVPLUGINMANAGER.BMP"
TJVVALIDATEEDIT BITMAP "TJVVALIDATEEDIT.BMP"
TJVEDITOR BITMAP "TJVEDITOR.BMP"
TJVWIDEEDITOR BITMAP "TJVWIDEEDITOR.BMP"
TJVHLEDITOR BITMAP "TJVHLEDITOR.BMP"
TJVWIDEHLEDITOR BITMAP "TJVWIDEHLEDITOR.BMP"
TJVHLEDPROPDLG BITMAP "TJVHLEDPROPDLG.BMP"
TJVCUSTOMITEMVIEWER BITMAP "TJVCUSTOMITEMVIEWER.BMP"
TJVIMAGESVIEWER BITMAP "TJVIMAGESVIEWER.BMP"
TJVIMAGELISTVIEWER BITMAP "TJVIMAGELISTVIEWER.BMP"
TJVOWNERDRAWVIEWER BITMAP "TJVOWNERDRAWVIEWER.BMP"
TJVCHART BITMAP "TJVCHART.BMP"
