JV_DBG_BLOB     BITMAP "JvResDBGBLOB.BMP"
JV_DBG_DATA     BITMAP "JvResDBGDATA.BMP"
JV_DBG_MEMO     BITMAP "JvResDBGMEMO.BMP"
JV_DBG_MSARROW  BITMAP "JvResDBGMSARROW.BMP"
JV_DBG_MSDOT    BITMAP "JvResDBGMSDOT.BMP"
JV_DBG_NOTEMPTY BITMAP "JvResDBGNOTEMPTY.BMP"
JV_DBG_OBJECT   BITMAP "JvResDBGOBJECT.BMP"
JV_DBG_OLE      BITMAP "JvResDBGOLE.BMP"
JV_DBG_PICT     BITMAP "JvResDBGPICT.BMP"
JV_DBG_SMDOWN   BITMAP "JvResDBGSMDOWN.BMP"
JV_DBG_SMUP     BITMAP "JvResDBGSMUP.BMP"
