JvDBGridBLOB      BITMAP "JvResDBGBLOB.BMP"
JvDBGridDATA      BITMAP "JvResDBGDATA.BMP"
JvDBGridMEMO      BITMAP "JvResDBGMEMO.BMP"
JvDBGridMSARROW   BITMAP "JvResDBGMSARROW.BMP"
JvDBGridMSDOT     BITMAP "JvResDBGMSDOT.BMP"
JvDBGridNOTEMPTY  BITMAP "JvResDBGNOTEMPTY.BMP"
JvDBGridOBJECT    BITMAP "JvResDBGOBJECT.BMP"
JvDBGridOLE       BITMAP "JvResDBGOLE.BMP"
JvDBGridPICT      BITMAP "JvResDBGPICT.BMP"
JvDBGridSMDOWN    BITMAP "JvResDBGSMDOWN.BMP"
JvDBGridSMUP      BITMAP "JvResDBGSMUP.BMP"
JvDBGridCHECKED   BITMAP "JvResDBGCHECKED.BMP"
JvDBGridUNCHECKED BITMAP "JvResDBGUNCHECKED.BMP"
JvDBGridPOPUP     BITMAP "JvResDBGPOPUP.BMP"