TJVDOCKCLIENT BITMAP "TJVDOCKCLIENT.BMP"
TJVDOCKDELPHISTYLE BITMAP "TJVDOCKDELPHISTYLE.BMP"
TJVDOCKECLIPSESTYLE BITMAP "TJVDOCKECLIPSESTYLE.BMP"
TJVDOCKSERVER BITMAP "TJVDOCKSERVER.BMP"
TJVDOCKVCSTYLE BITMAP "TJVDOCKVCSTYLE.BMP"
TJVDOCKVIDSTYLE BITMAP "TJVDOCKVIDSTYLE.BMP"
TJVDOCKVSNETSTYLE BITMAP "TJVDOCKVSNETSTYLE.BMP"
TJVDOCKVIDVCSTYLE BITMAP "TJVDOCKVIDVCSTYLE.BMP"