TJVG3DCOLORS BITMAP "TJVG3DCOLORS.BMP"
TJVGASKLISTBOX BITMAP "TJVGASKLISTBOX.BMP"
TJVGBEVEL BITMAP "TJVGBEVEL.BMP"
TJVGBITBITBTN BITMAP "TJVGBITBITBTN.BMP"
TJVGBITBTN BITMAP "TJVGBITBTN.BMP"
TJVGBITMAPIMAGE BITMAP "TJVGBITMAPIMAGE.BMP"
TJVGBUTTON BITMAP "TJVGBUTTON.BMP"
TJVGCAPTION BITMAP "TJVGCAPTION.BMP"
TJVGCHECKBOX BITMAP "TJVGCHECKBOX.BMP"
TJVGCHECKTREEVIEW BITMAP "TJVGCHECKTREEVIEW.BMP"
TJVGDBGRID BITMAP "TJVGDBGRID.BMP"
TJVGDBNAVIGATOR BITMAP "TJVGDBNAVIGATOR.BMP"
TJVGDIGITS BITMAP "TJVGDIGITS.BMP"
TJVGEXCEPIONHANDLER BITMAP "TJVGEXCEPIONHANDLER.BMP"
TJVGEXCEPTIONHANDLER BITMAP "TJVGEXCEPTIONHANDLER.BMP"
;TJVGEXPORTDBETABLE BITMAP "TJVGEXPORTDBETABLE.BMP"
TJVGEXPORTDATASET BITMAP "TJVGEXPORTDATASET.BMP"
TJVGEXPORTEXCEL BITMAP "TJVGEXPORTEXCEL.BMP"
TJVGEXPORTHTML BITMAP "TJVGEXPORTHTML.BMP"
TJVGEXPORTXML BITMAP "TJVGEXPORTXML.BMP"
TJVGFLYINGTEXT BITMAP "TJVGFLYINGTEXT.BMP"
TJVGGROUPBOX BITMAP "TJVGGROUPBOX.BMP"
TJVGGRIDHEADERCONTROL BITMAP "TJVGGRIDHEADERCONTROL.BMP"
TJVGHELPPANEL BITMAP "TJVGHELPPANEL.BMP"
TJVGHINT BITMAP "TJVGHINT.BMP"
TJVGHOLESHAPE BITMAP "TJVGHOLESHAPE.BMP"
TJVGINSPECTORGRID BITMAP "TJVGINSPECTORGRID.BMP"
TJVGJUMPINGCOMPONENT BITMAP "TJVGJUMPINGCOMPONENT.BMP"
TJVGLABEL BITMAP "TJVGLABEL.BMP"
TJVGLISTBOX BITMAP "TJVGLISTBOX.BMP"
TJVGLOGICPRODUCER BITMAP "TJVGLOGICPRODUCER.BMP"
TJVGMAILSLOTCLIENT BITMAP "TJVGMAILSLOTCLIENT.BMP"
TJVGMAILSLOTSERVER BITMAP "TJVGMAILSLOTSERVER.BMP"
TJVGMYQRPREVIEW BITMAP "TJVGMYQRPREVIEW.BMP"
TJVGPAGECONTROL BITMAP "TJVGPAGECONTROL.BMP"
TJVGPRINTCROSSTABLE BITMAP "TJVGPRINTCROSSTABLE.BMP"
TJVGPROCESS BITMAP "TJVGPROCESS.BMP"
TJVGPROGRESS BITMAP "TJVGPROGRESS.BMP"
TJVGPROPERTYCENTER BITMAP "TJVGPROPERTYCENTER.BMP"
TJVGQRDBTEXT BITMAP "TJVGQRDBTEXT.BMP"
TJVGQRLABEL BITMAP "TJVGQRLABEL.BMP"
TJVGREPORT BITMAP "TJVGREPORT.BMP"
TJVGREPORTEDITOR BITMAP "TJVGREPORTEDITOR.BMP"
TJVGREPORTPARAMSEDITOR BITMAP "TJVGREPORTPARAMSEDITOR.BMP"
TJVGRULER BITMAP "TJVGRULER.BMP"
TJVGSCROLLBOX BITMAP "TJVGSCROLLBOX.BMP"
TJVGSHADOW BITMAP "TJVGSHADOW.BMP"
TJVGSINGLEINSTANCE BITMAP "TJVGSINGLEINSTANCE.BMP"
TJVGSMALLFONTSDEFENCE BITMAP "TJVGSMALLFONTSDEFENCE.BMP"
TJVGSPEEDBUTTON BITMAP "TJVGSPEEDBUTTON.BMP"
TJVGSPLITTER BITMAP "TJVGSPLITTER.BMP"
TJVGSTATICTEXT BITMAP "TJVGSTATICTEXT.BMP"
TJVGSTRINGCONTAINER BITMAP "TJVGSTRINGCONTAINER.BMP"
TJVGSTRINGGRID BITMAP "TJVGSTRINGGRID.BMP"
TJVGSYSINFO BITMAP "TJVGSYSINFO.BMP"
TJVGSYSREQUIREMENTS BITMAP "TJVGSYSREQUIREMENTS.BMP"
TJVGTABCONTROL BITMAP "TJVGTABCONTROL.BMP"
TJVGTRANSPARENTMEMO BITMAP "TJVGTRANSPMEMO.BMP"
TJVGTREEVIEW BITMAP "TJVGTREEVIEW.BMP"
TJVGVERTDBSGRID BITMAP "TJVGVERTDBSGRID.BMP"
TJVGWIZARDHEADER BITMAP "TJVGWIZARDHEADER.BMP"
TJVGXMLSERIALIZER BITMAP "TJVGXMLSERIALIZER.BMP"
TJVGGRAPHICBUTTON BITMAP "TJVGGRAPHICBUTTON.BMP"
TJVGSHADE BITMAP "TJVGSHADE.BMP"
TJVGFIXFONT BITMAP "TJVGFIXFONT.BMP"
TJVGLANGUAGELOADER BITMAP "TJVGLANGUAGELOADER.BMP"
TJVGSMALLFONTSDEFENSE BITMAP "TJVGSMALLFONTSDEFENSE.BMP"
TJVGMASKEDIT BITMAP "TJVGMASKEDIT.BMP"