LANGUAGE 0, 0
TJVG3DCOLORS BITMAP "TJVG3DCOLORS.BMP"
TJVGASKLISTBOX BITMAP "TJVGASKLISTBOX.BMP"
TJVGBITBITBTN BITMAP "TJVGBITBITBTN.BMP"
TJVGBITMAPIMAGE BITMAP "TJVGBITMAPIMAGE.BMP"
TJVGBUTTON BITMAP "TJVGBUTTON.BMP"
TJVGCAPTION BITMAP "TJVGCAPTION.BMP"
TJVGCHECKBOX BITMAP "TJVGCHECKBOX.BMP"
TJVGDIGITS BITMAP "TJVGDIGITS.BMP"
TJVGEXPORTDATASET BITMAP "TJVGEXPORTDATASET.BMP"
TJVGEXPORTEXCEL BITMAP "TJVGEXPORTEXCEL.BMP"
TJVGEXPORTXML BITMAP "TJVGEXPORTXML.BMP"
TJVGEXTSPEEDBUTTON BITMAP "TJVGEXTSPEEDBUTTON.BMP"
TJVGGROUPBOX BITMAP "TJVGGROUPBOX.BMP"
TJVGHINT BITMAP "TJVGHINT.BMP"
TJVGHOLESHAPE BITMAP "TJVGHOLESHAPE.BMP"
TJVGLABEL BITMAP "TJVGLABEL.BMP"
TJVGLISTBOX BITMAP "TJVGLISTBOX.BMP"
TJVGCHECKLISTBOX BITMAP "TJVGCHECKLISTBOX.BMP"
TJVGLOGICPRODUCER BITMAP "TJVGLOGICPRODUCER.BMP"
TJVGMYQRPREVIEW BITMAP "TJVGMYQRPREVIEW.BMP"
TJVGPAGECONTROL BITMAP "TJVGPAGECONTROL.BMP"
TJVGPRINTCROSSTABLE BITMAP "TJVGPRINTCROSSTABLE.BMP"
TJVGPROGRESS BITMAP "TJVGPROGRESS.BMP"
TJVGPROPERTYCENTER BITMAP "TJVGPROPERTYCENTER.BMP"
TJVGQRDBTEXT BITMAP "TJVGQRDBTEXT.BMP"
TJVGQRLABEL BITMAP "TJVGQRLABEL.BMP"
TJVGREPORT BITMAP "TJVGREPORT.BMP"
TJVGREPORTEDITOR BITMAP "TJVGREPORTEDITOR.BMP"
TJVGREPORTPARAMSEDITOR BITMAP "TJVGREPORTPARAMSEDITOR.BMP"
TJVGSHADOW BITMAP "TJVGSHADOW.BMP"
TJVGSPEEDBUTTON BITMAP "TJVGSPEEDBUTTON.BMP"
TJVGSHADE BITMAP "TJVGSHADE.BMP"
TJVGSTRINGGRID BITMAP "TJVGSTRINGGRID.BMP"
TJVGTABCONTROL BITMAP "TJVGTABCONTROL.BMP"
TJVGXMLSERIALIZER BITMAP "TJVGXMLSERIALIZER.BMP"
