STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20480, "Ok"
 20481, "Unknown error"
 20482, "Internal interpreter error: %s"
 20483, "User break"
 20484, "Re-raising an exception only allowed in exception handler"
 20485, "Error in unit '%s' on line %d : %s"
 20486, "External in unit '%s' on line %d : %s"
 20487, "Access denied to '%s'"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20511, "Record '%s' not defined"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20532, "Stack overflow"
 20533, "Type mistmatch"
 20535, "Function 'main' undefined"
 20536, "Unit '%s' not found"
 20537, "Event '%s' not registered"
 20538, "Dfm '%s' not found"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20581, "Error in remark"
 20583, "%s expected but %s found"
 20584, "Undeclared identifer '%s'"
 20585, "Type of expression must be boolean"
 20586, "Class type required"
 20587, "';' not allowed before else"
 20588, "Type of expression must be integer"
 20589, "Record, object or class type required"
 20590, "Missing operator or semicolon"
 20591, "Identifer redeclared: '%s'"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20651, "Array index out of bounds"
 20652, "Too many array bounds"
 20653, "Not enough array bounds"
 20654, "Invalid array dimension"
 20655, "Invalid array range"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20656, "Array type required"
 20661, "Too many actual parameters"
 20662, "Not enough parameters"
 20663, "Incompatible types: '%s' and '%s'"
 20664, "Error loading library '%s'"
 20665, "Invalid type of argument in call to function '%s'"
 20666, "Invalid type of result in call to function '%s'"
 20667, "Can't get proc address for function '%s'"
 20668, "Invalid type of argument in call to function '%s'"
 20669, "Invalid type of result in call to function '%s'"
 20670, "Invalid call convention for function '%s'"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20681, "Calling '%s' failed: '%s'"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20781, "Expression"
 20782, "Identifer"
 20783, "Declaration"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20784, "end of file"
 20785, "class declaration"
}


STRINGTABLE 
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 20881, "Implementation of unit not found"
}

