TJVANIMATE BITMAP "TJVANIMATE.BMP"
TJVBMPANIMATOR BITMAP "TJVBMPANIMATOR.BMP"
TJVPICCLIP BITMAP "TJVPICCLIP.BMP"
TJVGRADIENT BITMAP "TJVGRADIENT.BMP"
TJVID3V1 BITMAP "TJVID3V1.BMP"
TJVID3V2 BITMAP "TJVID3V2.BMP"
TJVVISUALID3V1 BITMAP "TJVVISUALID3V1.BMP"
TJVVISUALID3V2 BITMAP "TJVVISUALID3V2.BMP"
;TJVID3CONTROLLER BITMAP "TJVID3CONTROLLER.BMP"
TJVIMAGEROTATE BITMAP "TJVIMAGEROTATE.BMP"
TJVIMAGETRANSFORM BITMAP "TJVIMAGETRANSFORM.BMP"
;TJVIMAGEWINDOW BITMAP "TJVIMAGEWINDOW.BMP"
TJVIMAGESQUARE BITMAP "TJVIMAGESQUARE.BMP"
TJVSTARFIELD BITMAP "TJVSTARFIELD.BMP"
TJVWAITINGGRADIENT BITMAP "TJVWAITINGGRADIENT.BMP"
TJVWAITINGPROGRESS BITMAP "TJVWAITINGPROGRESS.BMP"
TJVWAVEPLAYER BITMAP "TJVWAVEPLAYER.BMP"
TJVSPECIALPROGRESS BITMAP "TJVSPECIALPROGRESS.BMP"
TJVSLIDER BITMAP "TJVSLIDER.BMP"
TJVGIFANIMATOR BITMAP "TJVGIFANIMATOR.BMP"
TJVANIMATEDIMAGE BITMAP "TJVANIMATEDIMAGE.BMP"
TJVGRADIENTHEADERPANEL BITMAP "TJVGRADIENTHEADERPANEL.BMP"
TJVSPECIALIMAGE BITMAP "TJVSPECIALIMAGE.BMP"
TJVAVICAPTURE BITMAP "TJVAVICAPTURE.BMP"
TJVCOLORTRACKBAR BITMAP "TJVCOLORTRACKBAR.BMP"
TJVFULLCOLORAXISCOMBO BITMAP "TJVFULLCOLORAXISCOMBO.BMP"
TJVFULLCOLORCIRCLE BITMAP "TJVFULLCOLORCIRCLE.BMP"
TJVFULLCOLORCIRCLEDIALOG BITMAP "TJVFULLCOLORCIRCLEDIALOG.BMP"
TJVFULLCOLORDIALOG BITMAP "TJVFULLCOLORDIALOG.BMP"
TJVFULLCOLORGROUP BITMAP "TJVFULLCOLORGROUP.BMP"
TJVFULLCOLORLABEL BITMAP "TJVFULLCOLORLABEL.BMP"
TJVFULLCOLORPANEL BITMAP "TJVFULLCOLORPANEL.BMP"
TJVFULLCOLORSPACECOMBO BITMAP "TJVFULLCOLORSPACECOMBO.BMP"
TJVFULLCOLORTRACKBAR BITMAP "TJVFULLCOLORTRACKBAR.BMP"
