RASCROLLMAXBTNMINUS BITMAP "JvResRASCROLLMAXBTNMINUS.BMP"
RASCROLLMAXBTNPLUS  BITMAP "JvResRASCROLLMAXBTNPLUS.BMP"
RAHAND              CURSOR "JvResRAHAND.cur"
RAHANDMOVE          CURSOR "JvResRAHANDMOVE.cur"
