TJVTFNAVIGATOR BITMAP "TJVTFNAVIGATOR.BMP"
TJVTFSCHEDULEMANAGER BITMAP "TJVTFSCHEDULEMANAGER.BMP"
TJVTFUNIVERSALPRINTER BITMAP "TJVTFUNIVERSALPRINTER.BMP"
TJVTFGLANCETEXTVIEWER BITMAP "TJVTFGLANCETEXTVIEWER.BMP"
TJVTFGLANCE BITMAP "TJVTFGLANCE.BMP"
TJVTFMONTHS BITMAP "TJVTFMONTHS.BMP"
TJVTFWEEKS BITMAP "TJVTFWEEKS.BMP"
TJVTFDAYS BITMAP "TJVTFDAYS.BMP"
TJVTFDAYSPRINTER BITMAP "TJVTFDAYSPRINTER.BMP"
TJVTFALARM BITMAP "TJVTFALARM.BMP"
