; JvCustomTMTimelineMILESTONE      BITMAP "JvResMILESTONE.BMP"
JvCustomTMTimelineMILESTONELARGE BITMAP "JvResMILESTONELARGE.BMP"
JvCustomTMTimelineSCROLLLEFT     BITMAP "JvResSCROLLLEFT.BMP"
JvCustomTMTimelineSCROLLRIGHT    BITMAP "JvResSCROLLRIGHT.BMP"
