JvDirectoryEditGLYPH   BITMAP "JvResSEDITBMP.BMP"
JvFilenameEditGLYPH    BITMAP "JvResFEDITBMP.BMP"
JvCustomDateEditGLYPH  BITMAP "JvResDEDITBMP.BMP"
JvDirectoryEditXPGLYPH BITMAP "JvResFEDITXPBMP.BMP"
JvFilenameEditXPGLYPH  BITMAP "JvResSEDITXPBMP.BMP"