LANGUAGE 0, 0
JvDirectoryEditGLYPH   BITMAP "JvResSEDITBMP.BMP"
JvFilenameEditGLYPH    BITMAP "JvResFEDITBMP.BMP"
JvCustomDateEditGLYPH  BITMAP "JvResDEDITBMP.BMP"
JvDirectoryEditXPGLYPH BITMAP "JvResSEDITXPBMP.BMP"
JvFilenameEditXPGLYPH  BITMAP "JvResFEDITXPBMP.BMP"