TJVUIBDATABASE BITMAP "TJVUIBDATABASE.BMP"
TJVUIBTRANSACTION BITMAP "TJVUIBTRANSACTION.BMP"
TJVUIBQUERY BITMAP "TJVUIBQUERY.BMP"
TJVUIBBACKUP BITMAP "TJVUIBBACKUP.BMP"
TJVUIBRESTORE BITMAP "TJVUIBRESTORE.BMP"
TJVUIBSCRIPT BITMAP "TJVUIBSCRIPT.BMP"
TJVUIBDATASET BITMAP "TJVUIBDATASET.BMP"