XPCHECKBOX   BITMAP "XPCoreCheckBox.bmp"
XPARROWLEFT  BITMAP "XPCoreArrowLeft.bmp"
XPARROWRIGHT BITMAP "XPCoreArrowRight.bmp"
XPCLOSE      BITMAP "XPCoreClose.bmp"
XPPOPUP      BITMAP "XPCorePopup.bmp"
XPMAXIMIZE   BITMAP "XPCoreMaximize.bmp"
XPMINIMIZE   BITMAP "XPCoreMinimize.bmp"
XPRESTORE    BITMAP "XPCoreRestore.bmp"
