TJVXPBUTTON BITMAP "TJVXPBUTTON.BMP"
TJVXPCHECKBOX BITMAP "TJVXPCHECKBOX.BMP"
TJVXPCONTAINER BITMAP "TJVXPCONTAINER.BMP"
TJVXPRADIOBOX BITMAP "TJVXPRADIOBOX.BMP"
TJVXPSTYLEMANAGER BITMAP "TJVXPSTYLEMANAGER.BMP"
TJVXPTOOLBUTTON BITMAP "TJVXPTOOLBUTTON.BMP"
TJVXPBAR BITMAP "TJVXPBAR.BMP"
TJVXPPROGRESSBAR BITMAP "TJVXPPROGRESSBAR.BMP"
