TJVG3DCOLORS	BITMAP	"TJVG3DCOLORS.BMP"
TJVGASKLISTBOX	BITMAP	"TJVGASKLISTBOX.BMP"
TJVGBEVEL	BITMAP	"TJVGBEVEL.BMP"
TJVGBITBTN	BITMAP	"TJVGBITBTN.BMP"
TJVGBITMAPIMAGE	BITMAP	"TJVGBITMAPIMAGE.BMP"
TJVGBUTTON	BITMAP	"TJVGBUTTON.BMP"
TJVGCAPTION	BITMAP	"TJVGCAPTION.BMP"
TJVGCHECKBOX	BITMAP	"TJVGCHECKBOX.BMP"
TJVGCHECKTREEVIEW	BITMAP	"TJVGCHECKTREEVIEW.BMP"
TJVGDIGITS	BITMAP	"TJVGDIGITS.BMP"
TJVGEXCEPTIONHANDLER	BITMAP	"TJVGEXCEPTIONHANDLER.BMP"
TJVGEXPORTDBETABLE	BITMAP	"TJVGEXPORTDBETABLE.BMP"
TJVGEXPORTEXCEL	BITMAP	"TJVGEXPORTEXCEL.BMP"
TJVGEXPORTHTML	BITMAP	"TJVGEXPORTHTML.BMP"
TJVGEXPORTXML	BITMAP	"TJVGEXPORTXML.BMP"
TJVGFLYINGTEXT	BITMAP	"TJVGFLYINGTEXT.BMP"
TJVGGROUPBOX	BITMAP	"TJVGGROUPBOX.BMP"
TJVGHELPPANEL	BITMAP	"TJVGHELPPANEL.BMP"
TJVGHINT	BITMAP	"TJVGHINT.BMP"
TJVGHOLESHAPE	BITMAP	"TJVGHOLESHAPE.BMP"
TJVGJUMPINGCOMPONENT	BITMAP	"TJVGJUMPINGCOMPONENT.BMP"
TJVGLABEL	BITMAP	"TJVGLABEL.BMP"
TJVGLISTBOX	BITMAP	"TJVGLISTBOX.BMP"
TJVGMAILSLOTCLIENT	BITMAP	"TJVGMAILSLOTCLIENT.BMP"
TJVGMAILSLOTSERVER	BITMAP	"TJVGMAILSLOTSERVER.BMP"
TJVGPAGECONTROL	BITMAP	"TJVGPAGECONTROL.BMP"
TJVGPRINTCROSSTABLE	BITMAP	"TJVGPRINTCROSSTABLE.BMP"
TJVGPROCESS	BITMAP	"TJVGPROCESS.BMP"
TJVGPROGRESS	BITMAP	"TJVGPROGRESS.BMP"
TJVGPROPERTYCENTER	BITMAP	"TJVGPROPERTYCENTER.BMP"
