#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_CZECH, 1
{

 //  { error messages }
 deFileNotFound              , "Soubor '%s' nebyl nenalezen"
 deNoFormSelected            , "Není vybrán žádný formuláø"
 deCantSaveFile              , "Nemùžu uložit soubor '%s'"
 deFileChanged               , "Uložit zmìny do %s ?"

 deJvInterpreterNotFound              , "Nemùžu naèíst balíèek %s. Je potøeba pro spuštìní formuláøe"
 deJvInterpreterFuncNotFound          , "Funkce nebyla v balíèku %s nalezena. Možná špatná verze balíèku"
 deLoadExpertFail            , "Chyba pøi naèítání experta %s: \n%s"
 deErrorCreatingForm         , "Chyba pøi vytváøení formuláøe\n%s"
 deCantChangeIniStrings      , "Nemùžu zmìnit inicializaèní øetìzce dokud je AppBuilder spuštìn"

 // { source manipulation error }
 deCantRenameForm            , "Nemùžu pøejmenovat formuláø"
 deCantRenameUnit            , "Nemùžu pøejmenovat unitu"
 deCantRenameMethod          , "Nemùžu pøejmenovat metodu %s"
 deFormDeclNotFound          , "Nebyla nalezena deklarace formuláøe"
 deClauseIncorrect           , "Chyba v souboru %s: %s èást chybí nebo je nesprávná"

 deOk                        , "OK"
 deCancel                    , "Storno"
 deHelp                      , "Nápovìda"
 deClose                     , "Zavøít"
 deIgnore                    , "&Ignorovat"
 deIgnoreAll                 , "Ignorov&at vše"

 // { Form Designer }
 deBringToFront              , "Pøesunout dopøedu"
 deSendToBack                , "Pøesunout dozadu"

 // { App Builder - main form }
 deFileMenu                  , "&Soubor"
 deFileNewItem               , "&Nový..."
 deFileNewFormItem           , "Nový &formuláø"
 deFileOpenItem              , "&Otevøít..."
 deFileSaveItem              , "&Uložit"
 deFileSaveAsItem            , "Uložit &jako..."
 deFileSaveAllItem           , "Uložit &vše"
 deFileCloseItem             , "&Zavøít"
 deFileCloseAllItem          , "Z&avøít vše"
 deFileExitItem              , "&Konec"
 deEditMenu                  , "ÚpJVCLvy"
 deEditCopyItem              , "&Kopírovat"
 deEditPasteItem             , "V&ložit"
 deEditDeleteItem            , "Vy&mazat"
 deSearchMenu                , "&Najít"
 deViewsMenu                 , "&Zobrazit"
 deViewPrjMngrItem           , "Správce &projektu"
 deViewObjInspItem           , "Inspektor &objektu"
 deViewAlignItem             , "Paletu pro z&arovnání"
 deViewPaletteItem           , "Paletu s kompone&ntami"
 deViewWindowListItem        , "Seznam o&ken..."
 deViewToggleFormUnitItem    , "Pøepnout na formuláø/unitu"
 deViewUnitItem              , "&Unity..."
 deViewFormItem              , "&Formuláøe..."
 deProjectMenu               , "&Projekt"
 dePrjViewSourceItem         , "&Zobrazir zdrojový kód"
 deRunMenu                   , "P&rovést"
 deRunProjectItem            , "&Projekt"
 deRunUnitItem               , "&Unitu"
 deRunFormItem               , "&Formuláø"
 deRunReportPreviewItem      , "&Náhled sestavy"
 deRunProjectItemHint        , "Provést projekt"
 deRunUnitItemHint           , "Provést unitu"
 deRunFormItemHint           , "Provést formuláø"
 deRunReportPreviewItemHint  , "Zobrazit náhled sestavy"
 deComponentMenu             , "&Komponenta"
 deInstallPackagesItem       , "Instalovat &balíèky..."
 deToolsMenu                 , "&Nástroje"
 deToolsOptionsItem          , "Nastavení &prostøedí..."
 deToolsEditorOptionsItem    , "Nastavení &editoru..."
 deHelpMenu                  , "Nápo&vìda"

 // { Alignment Palette }
 deAlign                     , "Zarovnat"
 deAlign + 1                 , "Zarovnat doleva"
 deAlign + 2                 , "Zarovnat doprava"
 deAlign + 3                 , "Zarovnat nahoru"
 deAlign + 4                 , "Zarovnat dolù"
 deAlign + 5                 , "Horizontálnì vycentrovat"
 deAlign + 6                 , "Horizontálnì v oknì vycentrovat"
 deAlign + 7                 , "Horizontálnì vyrovnat mezery"
 deAlign + 8                 , "Vertikálnì vycentrovat"
 deAlign + 9                 , "Vertikálnì v oknì vycentrovat"
 deAlign + 10                , "Verikálnì vyrovnat mezery"

 // { ObjectInspector }
 deObjectInspector           , "Inspektor objektu"
 deProperties                , "Vlastnosti"
 deEvents                    , "Události"

 // { String List Editor }
 deStringsEditor             , "Editor seznamu øetìzcù"
 deCodeEditor                , "Editor kódu..."

 // { New Items }
 deNewItems                  , "Nové položky"
 deNew                       , "Nová"

 // { Project Manager }
 deProjectManager            , "Správce projektu"
 dePrjMngrUnit               , "Unita"
 dePrjMngrForm               , "Formuláø"
 dePrjMngrPath               , "Cesta"
 dePrjMngrUpdateItem         , "Aktualizovat"

 // { View Dialog }
 deViewDlgUnit               , "Zobrazit unitu"
 deViewDlgForm               , "Zobrazit formuláø"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Instalované balíèky"
 dePakListDlgAddTitle        , "Pøidat balíèek pro návrh"
 dePakListDlgAddFilter       , "Knihovny balíèkù (*.ext)|*.ext|Všechny soubory (*.*)|*.*"
 dePakListDlgPackages        , "Balíèky pro &návrh"
 dePakListDlgAdd             , "&Pøidat..."
 dePakListDlgRemove          , "&Odstranit"
 dePakListDlgComponents      , "&Komponenty"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Chyba pøi naèítání formuláøe"
 deReadErrorDlgMessage       , "%s. Ignorovat chybu a pokraèovat?  Pozn.: Ignorování chyby mùže zpùsobit smazání komponent nebo jejich vlastností."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Komponenty"
 dePakComponentsDlgInstalled , "&Instalované komponenty"
}

