#include "..\all\rafdconst.rc"
STRINGTABLE
LANGUAGE LANG_ENGLISH, 1
{

 //  { error messages }
 deFileNotFound              , "File '%s' not found"
 deNoFormSelected            , "No forms selected"
 deCantSaveFile              , "Can't save file '%s'"
 deFileChanged               , "Save changes to %s ?"

 deJvInterpreterNotFound              , "Can't load package %s. It required to run form"
 deJvInterpreterFuncNotFound          , "Function not found in package %s. May be wrong package version"
 deLoadExpertFail            , "Error loading expert %s: \n%s"
 deErrorCreatingForm         , "Error creating form\n%s"
 deCantChangeIniStrings      , "Can't change ini strings while AppBuilder is running"

 // { source manipulation error }
 deCantRenameForm            , "Renaming form failed"
 deCantRenameUnit            , "Renaming unit failed"
 deCantRenameMethod          , "Renaming method %s failed"
 deFormDeclNotFound          , "Form declaration not found"
 deClauseIncorrect           , "Error in file %s: %s clause missing or incorrect"

 deOk                        , "OK"
 deCancel                    , "Cancel"
 deHelp                      , "Help"
 deClose                     , "Close"
 deIgnore                    , "&Ignore"
 deIgnoreAll                 , "Ignore &All"

 // { Form Designer }
 deBringToFront              , "Bring To Front"
 deSendToBack                , "Send To Back"

 // { App Builder - main form }
 deFileMenu                  , "&File"
 deFileNewItem               , "&New..."
 deFileNewFormItem           , "New &Form"
 deFileOpenItem              , "&Open..."
 deFileSaveItem              , "&Save"
 deFileSaveAsItem            , "Save &As..."
 deFileSaveAllItem           , "Save &All"
 deFileCloseItem             , "&Close"
 deFileCloseAllItem          , "C&lose All"
 deFileExitItem              , "&Exit"
 deEditMenu                  , "&Edit"
 deEditCopyItem              , "&Copy"
 deEditPasteItem             , "&Paste"
 deEditDeleteItem            , "&Delete"
 deSearchMenu                , "&Search"
 deViewsMenu                 , "&View"
 deViewPrjMngrItem           , "&Project Manager"
 deViewObjInspItem           , "&Object Inspector"
 deViewAlignItem             , "&Alignment Palette"
 deViewPaletteItem           , "Compone&nt Palette"
 deViewWindowListItem        , "W&indow List..."
 deViewToggleFormUnitItem    , "To&ggle Form/Unit"
 deViewUnitItem              , "&Units..."
 deViewFormItem              , "&Forms..."
 deProjectMenu               , "&Project"
 dePrjViewSourceItem         , "&View Source"
 deRunMenu                   , "&Run"
 deRunProjectItem            , "&Project"
 deRunUnitItem               , "&Unit"
 deRunFormItem               , "&Form"
 deRunReportPreviewItem      , "&Report Preview"
 deRunProjectItemHint        , "Run Project"
 deRunUnitItemHint           , "Run Unit"
 deRunFormItemHint           , "Run Form"
 deRunReportPreviewItemHint  , "Run Report Preview"
 deComponentMenu             , "&Component"
 deInstallPackagesItem       , "Install &Packages..."
 deToolsMenu                 , "&Tools"
 deToolsOptionsItem          , "Environment &Options..."
 deToolsEditorOptionsItem    , "&Editor Options..."
 deHelpMenu                  , "&Help"

 // { Alignment Palette }
 deAlign                     , "Align"
 deAlign + 1                 , "Align left edges"
 deAlign + 2                 , "Align right edges"
 deAlign + 3                 , "Align tops"
 deAlign + 4                 , "Align bottoms"
 deAlign + 5                 , "Align horizontal centers"
 deAlign + 6                 , "Center horizontally in window"
 deAlign + 7                 , "Space equally, horizontally"
 deAlign + 8                 , "Align vertical centers"
 deAlign + 9                 , "Center vertically in window"
 deAlign + 10                , "Space equally, vertically"

 // { ObjectInspector }
 deObjectInspector           , "Object Inspector"
 deProperties                , "Properties"
 deEvents                    , "Events"

 // { String List Editor }
 deStringsEditor             , "String list editor"
 deCodeEditor                , "Code editor..."

 // { New Items }
 deNewItems                  , "New items"
 deNew                       , "New"

 // { Project Manager }
 deProjectManager            , "Project Manager"
 dePrjMngrUnit               , "Unit"
 dePrjMngrForm               , "Form"
 dePrjMngrPath               , "Path"
 dePrjMngrUpdateItem         , "Update"

 // { View Dialog }
 deViewDlgUnit               , "View Unit"
 deViewDlgForm               , "View Form"

 // { Installed Packages Dialog }
 dePakListDlgTitle           , "Installed Packages"
 dePakListDlgAddTitle        , "Add Design Package"
 dePakListDlgAddFilter       , "Package library  (*.ext)|*.ext|Any file (*.*)|*.*"
 dePakListDlgPackages        , "Design &packages"
 dePakListDlgAdd             , "&Add..."
 dePakListDlgRemove          , "&Remove"
 dePakListDlgComponents      , "&Components"

 // { Read Error Dialog }
 deReadErrorDlgCaption       , "Error Reading Form"
 deReadErrorDlgMessage       , "%s.  Ignore the error and continue?  NOTE: Ignoring the error may cause components to be deleted or property values to be lost."

 // { Package Components Dialog }
 dePakComponentsDlgCaption   , "Components"
 dePakComponentsDlgInstalled , "&Installed components"

}

