/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "CommCtrlAsInvoker.manifest"
