TJVAPPEVENTS BITMAP "TJVAPPEVENTS.BMP"
TJVAPPANIMATEDICON BITMAP "TJVAPPANIMATEDICON.BMP"
TJVFORMANIMATEDICON BITMAP "TJVFORMANIMATEDICON.BMP"
TJVAPPLICATIONHOTKEY BITMAP "TJVAPPLICATIONHOTKEY.BMP"
TJVTRANSPARENTFORM BITMAP "TJVTRANSPARENTFORM.BMP"
TJVFORMANIMATION BITMAP "TJVFORMANIMATION.BMP"
TJVFORMWALLPAPER BITMAP "TJVFORMWALLPAPER.BMP"
TJVFORMMAGNET BITMAP "TJVFORMMAGNET.BMP"
TJVGRADIENTCAPTION BITMAP "TJVGRADIENTCAPTION.BMP"
TJVFORMAUTOSIZE BITMAP "TJVFORMAUTOSIZE.BMP"
TJVEMBEDDEDFORMLINK BITMAP "TJVEMBEDDEDFORMLINK.BMP"
TJVEMBEDDEDFORMPANEL BITMAP "TJVEMBEDDEDFORMPANEL.BMP"
TJVEMBEDDEDINSTANCEFORMPANEL BITMAP "TJVEMBEDDEDINSTANCEFORMPANEL.BMP"
