TJVDBFILTER BITMAP "TJVDBFILTER.BMP"
TJVDBINDEXCOMBO BITMAP "TJVDBINDEXCOMBO.BMP"
TJVDBLISTDATASET BITMAP "TJVDBLISTDATASET.BMP"
TJVDATABASEITEMS BITMAP "TJVDATABASEITEMS.BMP"
TJVTABLEITEMS BITMAP "TJVTABLEITEMS.BMP"
;TJVDATABASELIST BITMAP "TJVDATABASELIST.BMP"
;TJVLANGDRIVLIST BITMAP "TJVLANGDRIVLIST.BMP"
;TJVTABLELIST BITMAP "TJVTABLELIST.BMP"
;TJVSTOREDPROCLIST BITMAP "TJVSTOREDPROCLIST.BMP"
;TJVFIELDLIST BITMAP "TJVFIELDLIST.BMP"
;TJVINDEXLIST BITMAP "TJVINDEXLIST.BMP"
TJVDBMOVE BITMAP "TJVDBMOVE.BMP"
TJVDBPROGRESS BITMAP "TJVDBPROGRESS.BMP"
TJVQBEQUERY BITMAP "TJVQBEQUERY.BMP"
TJVDBSECURITY BITMAP "TJVDBSECURITY.BMP"
TJVBDEMEMORYTABLE BITMAP "TJVBDEMEMORYTABLE.BMP"
TJVQUERY BITMAP "TJVQUERY.BMP"
TJVBDESQLSCRIPT BITMAP "TJVBDESQLSCRIPT.BMP"
TJVSQLSCRIPT BITMAP "TJVSQLSCRIPT.BMP"
TJVBDEITEMS BITMAP "TJVBDEITEMS.BMP"