JVCSVADD      BITMAP "JvResCSVADD.BMP"
JVCSVCANCEL   BITMAP "JvResCSVCANCEL.BMP"
JVCSVDELETE   BITMAP "JvResCSVDELETE.BMP"
JVCSVEDIT     BITMAP "JvResCSVEDIT.BMP"
JVCSVFIND     BITMAP "JvResCSVFIND.BMP"
JVCSVFIRST    BITMAP "JvResCSVFIRST.BMP"
JVCSVLAST     BITMAP "JvResCSVLAST.BMP"
JVCSVNEXT     BITMAP "JvResCSVNEXT.BMP"
JVCSVPOST     BITMAP "JvResCSVPOST.BMP"
JVCSVPREVIOUS BITMAP "JvResCSVPREVIOUS.BMP"
JVCSVREFRESH  BITMAP "JvResCSVREFRESH.BMP"
