TJVZOOM BITMAP "TJVZOOM.BMP"
;TJVANALOGCLOCK BITMAP "TJVANALOGCLOCK.BMP"
TJVBEHAVIORLABEL BITMAP "TJVBEHAVIORLABEL.BMP"
TJVARROWBUTTON BITMAP "TJVARROWBUTTON.BMP"
TJVASCROLLTEXT BITMAP "TJVASCROLLTEXT.BMP"
TJVCAPTIONBUTTON BITMAP "TJVCAPTIONBUTTON.BMP"
;TJVCLOCK BITMAP "TJVCLOCK.BMP"
TJVCONTENTSCROLLER BITMAP "TJVCONTENTSCROLLER.BMP"
TJVCOLORBUTTON BITMAP "TJVCOLORBUTTON.BMP"
TJVDICE BITMAP "TJVDICE.BMP"
TJVDRIVECOMBO BITMAP "TJVDRIVECOMBO.BMP"
TJVDRIVELIST BITMAP "TJVDRIVELIST.BMP"
TJVFILELISTBOX BITMAP "TJVFILELISTBOX.BMP"
TJVDIRECTORYLISTBOX BITMAP "TJVDIRECTORYLISTBOX.BMP"
TJVFOOTER BITMAP "TJVFOOTER.BMP"
TJVGROUPHEADER BITMAP "TJVGROUPHEADER.BMP"
TJVINSTALLLABEL BITMAP "TJVINSTALLLABEL.BMP"
TJVITEMSPANEL BITMAP "TJVITEMSPANEL.BMP"
TJVHINT BITMAP "TJVHINT.BMP"
TJVHTLISTBOX BITMAP "TJVHTLISTBOX.BMP"
TJVHTCOMBOBOX BITMAP "TJVHTCOMBOBOX.BMP"
TJVHTLABEL BITMAP "TJVHTLABEL.BMP"
TJVHTBUTTON BITMAP "TJVHTBUTTON.BMP"
TJVCOMPONENTPANEL BITMAP "TJVCOMPONENTPANEL.BMP"
TJVIMAGECOMBOBOX BITMAP "TJVIMAGECOMBOBOX.BMP"
TJVIMAGELISTBOX BITMAP "TJVIMAGELISTBOX.BMP"
TJVPAGESCROLLER BITMAP "TJVPAGESCROLLER.BMP"
TJVREGISTRYTREEVIEW BITMAP "TJVREGISTRYTREEVIEW.BMP"
TJVROLLOUT BITMAP "TJVROLLOUT.BMP"
TJVSCROLLINGWINDOW BITMAP "TJVSCROLLINGWINDOW.BMP"
TJVSCROLLTEXT BITMAP "TJVSCROLLTEXT.BMP"
TJVSPACER BITMAP "TJVSPACER.BMP"
TJVSPEEDBAR BITMAP "TJVSPEEDBAR.BMP"
TJVSPLITTER BITMAP "TJVSPLITTER.BMP"
TJVXSPLITTER BITMAP "TJVXSPLITTER.BMP"
TJVSWITCH BITMAP "TJVSWITCH.BMP"
TJVSYNCSPLITTER BITMAP "TJVSYNCSPLITTER.BMP"
TJVTRANSPARENTBUTTON BITMAP "TJVTRANSPARENTBUTTON.BMP"
TJVTRANSPARENTBUTTON2 BITMAP "TJVTRANSPARENTBUTTON2.BMP"
;TJVTRANSLED BITMAP "TJVTRANSLED.BMP"
;TJVBLINKINGLED BITMAP "TJVBLINKINGLED.BMP"
TJVCLOCK BITMAP "TJVXCLOCK.BMP"
;TJVREGAUTO BITMAP "TJVREGAUTO.BMP"
TJVWINAMPLABEL BITMAP "TJVWINAMPLABEL.BMP"
TJVPLAYLIST BITMAP "TJVPLAYLIST.BMP"
TJVCAPTIONPANEL BITMAP "TJVCAPTIONPANEL.BMP"
TJVSCROLLMAX BITMAP "TJVSCROLLMAX.BMP"
TJVUNINSTALLCOMBOBOX BITMAP "TJVUNINSTALLCOMBOBOX.BMP"
TJVUNINSTALLLISTBOX BITMAP "TJVUNINSTALLLISTBOX.BMP"
TJVMOVABLEBEVEL BITMAP "TJVMOVABLEBEVEL.BMP"
TJVCOMBOLISTBOX BITMAP "TJVCOMBOLISTBOX.BMP"
TJVCUSTOMCHARMAP BITMAP "TJVCUSTOMCHARMAP.BMP"
TJVOFFICECOLORBUTTON BITMAP "TJVOFFICECOLORBUTTON.BMP"
TJVOFFICECOLORPANEL BITMAP "TJVOFFICECOLORPANEL.BMP"
TJVNETSCAPESPLITTER BITMAP "TJVNETSCAPESPLITTER.BMP"