TJVMEMORYDATA BITMAP "TJVMEMORYDATA.BMP"
TJVDBDATEPICKEREDIT BITMAP "TJVDBDATEPICKEREDIT.BMP"
TJVDBPROGRESSBAR BITMAP "TJVDBPROGRESSBAR.BMP"
TJVDBRICHEDIT BITMAP "TJVDBRICHEDIT.BMP"
TJVDBSPINEDIT BITMAP "TJVDBSPINEDIT.BMP"
TJVDBLOOKUPLIST BITMAP "TJVDBLOOKUPLIST.BMP"
TJVDBLOOKUPCOMBO BITMAP "TJVDBLOOKUPCOMBO.BMP"
TJVDBLOOKUPEDIT BITMAP "TJVDBLOOKUPEDIT.BMP"
TJVDBCOMBOBOX BITMAP "TJVDBCOMBOBOX.BMP"
TJVDBTREEVIEW BITMAP "TJVDBTREEVIEW.BMP"
TJVDBLOOKUPTREEVIEWCOMBO BITMAP "TJVDBLOOKUPTREEVIEWCOMBO.BMP"
TJVDBLOOKUPTREEVIEW BITMAP "TJVDBLOOKUPTREEVIEW.BMP"
TJVDBGRID BITMAP "TJVDBGRID.BMP"
TJVDBCOMBOEDIT BITMAP "TJVDBCOMBOEDIT.BMP"
TJVDBDATEEDIT BITMAP "TJVDBDATEEDIT.BMP"
TJVDBCALCEDIT BITMAP "TJVDBCALCEDIT.BMP"
TJVDBSTATUSLABEL BITMAP "TJVDBSTATUSLABEL.BMP"
;TJVCSVDATASET BITMAP "TJVCSVDATASET.BMP"
TJVDBREMOTELOGIN BITMAP "TJVDBREMOTELOGIN.BMP"
TJVDBRADIOPANEL BITMAP "TJVDBRADIOPANEL.BMP"