TJVSELECTDIRECTORY BITMAP "TJVSELECTDIRECTORY.BMP"
TJVOPENDIALOG BITMAP "TJVOPENDIALOG.BMP"
TJVSAVEDIALOG BITMAP "TJVSAVEDIALOG.BMP"
TJVCONNECTNETWORK BITMAP "TJVCONNECTNETWORK.BMP"
TJVDISCONNECTNETWORK BITMAP "TJVDISCONNECTNETWORK.BMP"
TJVPAGESETUPDIALOG BITMAP "TJVPAGESETUPDIALOG.BMP"
TJVPAGESETUPTITLEDDIALOG BITMAP "TJVPAGESETUPTITLEDDIALOG.BMP"
TJVADDPRINTERDIALOG BITMAP "TJVADDPRINTERDIALOG.BMP"
TJVFINDFILESDIALOG BITMAP "TJVFINDFILESDIALOG.BMP"
TJVFORMATDRIVEDIALOG BITMAP "TJVFORMATDRIVEDIALOG.BMP"
TJVCOLORDIALOG BITMAP "TJVCOLORDIALOG.BMP"
TJVORGANIZEFAVORITESDIALOG BITMAP "TJVORGANIZEFAVORITESDIALOG.BMP"
TJVCOMPUTERNAMEDIALOG BITMAP "TJVCOMPUTERNAMEDIALOG.BMP"
TJVAPPLETDIALOG BITMAP "TJVAPPLETDIALOG.BMP"
TJVCHANGEICONDIALOG BITMAP "TJVCHANGEICONDIALOG.BMP"
TJVSHELLABOUTDIALOG BITMAP "TJVSHELLABOUTDIALOG.BMP"
TJVRUNDIALOG BITMAP "TJVRUNDIALOG.BMP"
TJVOBJECTPROPERTIESDIALOG BITMAP "TJVOBJECTPROPERTIESDIALOG.BMP"
TJVNEWLINKDIALOG BITMAP "TJVNEWLINKDIALOG.BMP"
TJVADDHARDWAREDIALOG BITMAP "TJVADDHARDWAREDIALOG.BMP"
TJVOPENWITHDIALOG BITMAP "TJVOPENWITHDIALOG.BMP"
TJVDISKFULLDIALOG BITMAP "TJVDISKFULLDIALOG.BMP"
TJVEXITWINDOWSDIALOG BITMAP "TJVEXITWINDOWSDIALOG.BMP"
TJVOUTOFMEMORYDIALOG BITMAP "TJVOUTOFMEMORYDIALOG.BMP"
TJVOBJECTPICKERDIALOG BITMAP "TJVOBJECTPICKERDIALOG.BMP"
TJVDUALLISTDIALOG BITMAP "TJVDUALLISTDIALOG.BMP"
TJVTIPOFDAY BITMAP "TJVTIPOFDAY.BMP"
TJVFINDREPLACE BITMAP "TJVFINDREPLACE.BMP"
TJVIMAGEDIALOG BITMAP "TJVIMAGEDLG.BMP"
TJVDSADIALOG BITMAP "TJVDSADIALOG.BMP"
TJVLOGINDIALOG BITMAP "TJVLOGINDIALOG.BMP"
TJVDISKPROMPT BITMAP "TJVDISKPROMPT.BMP"
TJVCOPYERROR BITMAP "TJVCOPYERROR.BMP"
TJVDELETEERROR BITMAP "TJVDELETEERROR.BMP"
TJVRENAMEERROR BITMAP "TJVRENAMEERROR.BMP"
TJVPROGRESSDIALOG BITMAP "TJVPROGRESSDIALOG.BMP"
TJVPROGRESSCOMPONENT BITMAP "TJVPROGRESSCOMPONENT.BMP"
TJVDESKTOPALERT BITMAP "TJVDESKTOPALERT.BMP"
TJVDESKTOPALERTSTACK BITMAP "TJVDESKTOPALERTSTACK.BMP"
TOPENPICTUREDIALOG BITMAP "TJVOPENPICTUREDIALOG.BMP"
TSAVEPICTUREDIALOG BITMAP "TSAVEPICTUREDIALOG.BMP"
 
