BRUSH               BITMAP "JvResBRUSH.BMP"
DOWN                BITMAP "JvResDOWN.BMP"
GLYPHDISABLED       BITMAP "JvResGLYPHDISABLED.BMP"
GLYPHDISABLEDSQUARE BITMAP "JvResGLYPHDISABLEDSQUARE.BMP"
GLYPHOFF            BITMAP "JvResGLYPHOFF.BMP"
GLYPHOFFSQUARE      BITMAP "JvResGLYPHOFFSQUARE.BMP"
GLYPHON             BITMAP "JvResGLYPHON.BMP"
GLYPHONSQUARE       BITMAP "JvResGLYPHONSQUARE.BMP"
LEFT                BITMAP "JvResLEFT.BMP"
RIGHT               BITMAP "JvResRIGHT.BMP"
UP                  BITMAP "JvResUP.BMP"
