CHECKS0 BITMAP "JvResCHECKS0.BMP"
CHECKS1 BITMAP "JvResCHECKS1.BMP"
CHECKS2 BITMAP "JvResCHECKS2.BMP"
CHECKS3 BITMAP "JvResCHECKS3.BMP"
CHECKS4 BITMAP "JvResCHECKS4.BMP"
CHECKS5 BITMAP "JvResCHECKS5.BMP"
