JvRegistryTreeViewBINIMAGE     BITMAP "JvResREGTVBINIMAGE.BMP"
JvRegistryTreeViewCLOSEDFOLDER BITMAP "JvResREGTVCLOSEDFOLDER.BMP"
JvRegistryTreeViewMYCOMPUTER   BITMAP "JvResREGTVMYCOMPUTER.BMP"
JvRegistryTreeViewOPENFOLDER   BITMAP "JvResREGTVOPENFOLDER.BMP"
JvRegistryTreeViewTEXTIMAGE    BITMAP "JvResREGTVTEXTIMAGE.BMP"
