REGTV_BINIMAGE     BITMAP "JvResREGTVBINIMAGE.BMP"
REGTV_CLOSEDFOLDER BITMAP "JvResREGTVCLOSEDFOLDER.BMP"
REGTV_MYCOMPUTER   BITMAP "JvResREGTVMYCOMPUTER.BMP"
REGTV_OPENFOLDER   BITMAP "JvResREGTVOPENFOLDER.BMP"
REGTV_TEXTIMAGE    BITMAP "JvResREGTVTEXTIMAGE.BMP"
