JvScrollMaxBandBTNMINUS BITMAP "JvResRASCROLLMAXBTNMINUS.BMP"
JvScrollMaxBandBTNPLUS  BITMAP "JvResRASCROLLMAXBTNPLUS.BMP"
; JvHANDCURSOR            CURSOR "JvResRAHAND.cur"
; JvHANDMOVECURSOR        CURSOR "JvResRAHANDMOVE.cur"
