JvSimLogicBoxBIN    BITMAP "JvResRBIN.BMP"
JvSimLogicBoxBUTTON BITMAP "JvResRBUTTON.BMP"
JvSimLogicBoxCON    BITMAP "JvResRCON.BMP"
JvSimLogicBoxLIGHT  BITMAP "JvResRLIGHT.BMP"
JvSimLogicBoxLOGIC  BITMAP "JvResRLOGIC.BMP"
JvSimLogicBoxREV    BITMAP "JvResRREV.BMP"
