TJVCLIPBOARDMONITOR BITMAP "TJVCLIPBOARDMONITOR.BMP"
TJVCLIPBOARDVIEWER BITMAP "TJVCLIPBOARDVIEWER.BMP"
TJVCOMMSTATUS BITMAP "TJVCOMMSTATUS.BMP"
TJVCOMPUTERINFO BITMAP "TJVCOMPUTERINFO.BMP"
;TJVCPUUSAGE BITMAP "TJVCPUUSAGE.BMP"
TJVAPPDDECMD BITMAP "TJVAPPDDECMD.BMP"
TJVDEVICECHANGED BITMAP "TJVDEVICECHANGED.BMP"
TJVDIRECTORIES BITMAP "TJVDIRECTORIES.BMP"
TJVDRAGDROP BITMAP "TJVDRAGDROP.BMP"
TJVDROPTARGET BITMAP "TJVDROPTARGET.BMP"
TJVHIDDEVICECONTROLLER BITMAP "TJVHIDDEVICECONTROLLER.BMP"
TJVJOYSTICK BITMAP "TJVJOYSTICK.BMP"
TJVKEYBOARDSTATES BITMAP "TJVKEYBOARDSTATES.BMP"
;TJVMEMORYINFOS BITMAP "TJVMEMORYINFOS.BMP"
TJVMRULIST BITMAP "TJVMRULIST.BMP"
TJVMRUMANAGER BITMAP "TJVMRUMANAGER.BMP"
TJVNTEVENTLOG BITMAP "TJVNTEVENTLOG.BMP"
TJVRAS32 BITMAP "TJVRAS32.BMP"
TJVSCREENSAVER BITMAP "TJVSCREENSAVER.BMP"
TJVSHELLHOOK BITMAP "TJVSHELLHOOK.BMP"
TJVSHFILEOPERATION BITMAP "TJVSHFILEOPERATION.BMP"
TJVSOUNDCONTROL BITMAP "TJVSOUNDCONTROL.BMP"
TJVSYSTEMCOLORS BITMAP "TJVSYSTEMCOLORS.BMP"
TJVTIMER BITMAP "TJVTIMER.BMP"
TJVTHREAD BITMAP "TJVTHREAD.BMP"
TJVTHREADTIMER BITMAP "TJVTHREADTIMER.BMP"
TJVTIMERLIST BITMAP "TJVTIMERLIST.BMP"
TJVCHANGENOTIFY BITMAP "TJVCHANGENOTIFY.BMP"
TJVSIMPLEXML BITMAP "TJVSIMPLEXML.BMP"
TJVXMLDATABASE BITMAP "TJVXMLDATABASE.BMP"
TJVWINDOWHOOK BITMAP "TJVWINDOWHOOK.BMP"
TJVFORMSTORAGE BITMAP "TJVFORMSTORAGE.BMP"
TJVSEARCHFILES BITMAP "TJVSEARCHFILES.BMP"
TJVPERFSTAT95 BITMAP "TJVPERFSTAT95.BMP"
TJVAPPINSTANCES BITMAP "TJVAPPINSTANCES.BMP"
TJVAPPXMLFILESTORAGE BITMAP "TJVAPPXMLFILESTORAGE.BMP"
TJVFORMSTORAGESELECTLIST BITMAP "TJVFORMSTORAGESELECTLIST.BMP"
TJVCOMPUTERINFOEX BITMAP "TJVCOMPUTERINFOEX.BMP"
TJVDEBUGHANDLER BITMAP "TJvDebugHandler.bmp"
