JV_DEDITBMP	BITMAP "JvResDEDITBMP.BMP"
JV_FEDITBMP	BITMAP "JvResFEDITBMP.BMP"
JV_SEDITBMP	BITMAP "JvResSEDITBMP.BMP"
JV_FEDITXPBMP	BITMAP "JvResFEDITXPBMP.BMP"
JV_SEDITXPBMP	BITMAP "JvResSEDITXPBMP.BMP"
