TJVUIBDATABASE BITMAP "TJVUIBDATABASE.BMP"
TJVUIBTRANSACTION BITMAP "TJVUIBTRANSACTION.v"
TJVUIBQUERY BITMAP "TJVUIBQUERY.BMP"
TJVUIBBACKUP BITMAP "TJVUIBBACKUP.BMP"
TJVUIBRESTORE BITMAP "TJVUIBRESTORE.BMP"
TJVUIBSCRIPT BITMAP "TJVUIBSCRIPT.BMP"
TJVUIBDATASET BITMAP "TJVUIBDATASET.BMP"