COLLAPSE0 BITMAP "XPBarCollapse0.bmp"
COLLAPSE1 BITMAP "XPBarCollapse1.bmp"
COLLAPSE2 BITMAP "XPBarCollapse2.bmp"
EXPAND0   BITMAP "XPBarExpand0.bmp"
EXPAND1   BITMAP "XPBarExpand1.bmp"
EXPAND2   BITMAP "XPBarExpand2.bmp"
