XPCOLLAPSE0 BITMAP "XPBarCollapse0.bmp"
XPCOLLAPSE1 BITMAP "XPBarCollapse1.bmp"
XPCOLLAPSE2 BITMAP "XPBarCollapse2.bmp"
XPEXPAND0   BITMAP "XPBarExpand0.bmp"
XPEXPAND1   BITMAP "XPBarExpand1.bmp"
XPEXPAND2   BITMAP "XPBarExpand2.bmp"
