;JV_AD_HRL  BITMAP "JvResADHRL.BMP"
;JV_AD_HTB  BITMAP "JvResADHTB.BMP"
;JV_AD_VRL  BITMAP "JvResADVRL.BMP"
;JV_AD_VTB  BITMAP "JvResADVTB.BMP"
JvW95HRL BITMAP "JvResW95HRL.BMP"
JvW95HTB BITMAP "JvResW95HTB.BMP"
JvW95VRL BITMAP "JvResW95VRL.BMP"
JvW95VTB BITMAP "JvResW95VTB.BMP"
