#define deResBase $5400

//  { error messages }
#define deFileNotFound                deResBase + 1
#define deNoFormSelected              deResBase + 2
#define deCantSaveFile                deResBase + 3
#define deFileChanged                 deResBase + 4
#define deNotYetImplemented           deResBase + 5
#define deInternal                    deResBase + 6
#define deJvInterpreterNotFound                deResBase + 7
#define deJvInterpreterFuncNotFound            deResBase + 8
#define deLoadExpertFail              deResBase + 9
#define deErrorCreatingForm           deResBase + 10
#define deCantChangeIniStrings        deResBase + 11

// { source manipulation error }
#define deCantRenameForm              deResBase + 12
#define deCantRenameUnit              deResBase + 13
#define deCantRenameMethod            deResBase + 14
#define deFormDeclNotFound            deResBase + 15
#define deClauseIncorrect             deResBase + 16

#define deStrBase                     deResBase + $200

#define deOk                          deStrBase + 1
#define deCancel                      deStrBase + 2
#define deHelp                        deStrBase + 3
#define deClose                       deStrBase + 4
#define deIgnore                      deStrBase + 5
#define deIgnoreAll                   deStrBase + 6

// { Form Designer }
#define deBringToFront                deStrBase + 50
#define deSendToBack                  deStrBase + 51

// { App Builder - main form }
#define deFileMenu                    deStrBase + 100
#define deEditMenu                    deStrBase + 101
#define deViewsMenu                   deStrBase + 102
#define deFileNewItem                 deStrBase + 103
#define deFileNewFormItem             deStrBase + 104
#define deFileOpenItem                deStrBase + 105
#define deFileSaveItem                deStrBase + 106
#define deFileSaveAsItem              deStrBase + 107
#define deFileSaveAllItem             deStrBase + 108
#define deFileCloseItem               deStrBase + 109
#define deFileCloseAllItem            deStrBase + 110
#define deFileExitItem                deStrBase + 111
#define deEditDeleteItem              deStrBase + 112
#define deViewObjInspItem             deStrBase + 113
#define deViewAlignItem               deStrBase + 114
#define deViewPaletteItem             deStrBase + 115
#define deRunMenu                     deStrBase + 116
#define deRunFormItem                 deStrBase + 117
#define deRunReportPreviewItem        deStrBase + 118
#define deViewToggleFormUnitItem      deStrBase + 119
#define deOpenHint                    deStrBase + 120
#define deSaveAllHint                 deStrBase + 121
#define deViewToggleFormUnitHint      deStrBase + 122
#define deRunFormHint                 deStrBase + 123
#define deRunReportPreviewHint        deStrBase + 124
#define deComponentMenu               deStrBase + 125
#define deViewWindowListItem          deStrBase + 126
#define deSearchMenu                  deStrBase + 127
#define deProjectMenu                 deStrBase + 128
#define deToolsMenu                   deStrBase + 129
#define dePrjViewSourceItem           deStrBase + 130
#define deToolsOptionsItem            deStrBase + 131
#define deHelpMenu                    deStrBase + 132
#define deEditCopyItem                deStrBase + 133
#define deEditPasteItem               deStrBase + 134
#define deToolsEditorOptionsItem      deStrBase + 135
#define deRunUnitItem                 deStrBase + 136
#define deViewPrjMngrItem             deStrBase + 137
#define deRunProjectItem              deStrBase + 138
#define deViewUnitItem                deStrBase + 139
#define deViewFormItem                deStrBase + 140
#define deRunFormItemHint             deStrBase + 141
#define deRunReportPreviewItemHint    deStrBase + 142
#define deRunUnitItemHint             deStrBase + 143
#define deRunProjectItemHint          deStrBase + 144
#define deInstallPackagesItem         deStrBase + 145

// { Alignment Palette }
#define deAlign                       deStrBase + 200
#define deAlign10                     deStrBase + 210

// { ObjectInspector }
#define deObjectInspector             deStrBase + 220
#define deProperties                  deStrBase + 221
#define deEvents                      deStrBase + 222

// { String List Editor }
#define deStringsEditor               deStrBase + 230
#define deCodeEditor                  deStrBase + 231

// { New Items }
#define deNewItems                    deStrBase + 240
#define deNew                         deStrBase + 241

// { Project Manager }
#define deProjectManager              deStrBase + 260
#define dePrjMngrUnit                 deStrBase + 261
#define dePrjMngrForm                 deStrBase + 262
#define dePrjMngrPath                 deStrBase + 263
#define dePrjMngrUpdateItem           deStrBase + 264

// { View Dialog }
#define deViewDlgUnit                 deStrBase + 290
#define deViewDlgForm                 deStrBase + 291

// { Installed Packages Dialog }
#define dePakListDlgTitle             deStrBase + 310
#define dePakListDlgAddTitle          deStrBase + 311
#define dePakListDlgAddFilter         deStrBase + 312
#define dePakListDlgPackages          deStrBase + 313
#define dePakListDlgAdd               deStrBase + 314
#define dePakListDlgRemove            deStrBase + 315
#define dePakListDlgEdit              deStrBase + 316
#define dePakListDlgComponents        deStrBase + 317

// { Read Error Dialog }
#define deReadErrorDlgCaption         deStrBase + 320
#define deReadErrorDlgMessage         deStrBase + 321

// { Package Components Dialog }
#define dePakComponentsDlgCaption     deStrBase + 330
#define dePakComponentsDlgInstalled   deStrBase + 331

#define deImageBase                   30000
#define deDefaultComponentBitmap      deImageBase + 501

